In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

# Most Visited Countries (CSV -  Kaggle)

In [2]:
visits = pd.read_csv('most_visited.csv')

In [3]:
visits

                 country  touristArrivals
0                 France         89400000
1                  Spain         83700000
2          United States         79300000
3                  China         65700000
4                  Italy         64500000
5                 Turkey         51200000
6                 Mexico         45000000
7               Thailand         39800000
8                Germany         39600000
9         United Kingdom         39400000
10                 Japan         32300000
11               Austria         31900000
12                Greece         31300000
13              Malaysia         26100000
14              Portugal         24600000
15                Russia         24400000
16             Hong Kong         23800000
17                Poland         22100000
18                Canada         22100000
19           Netherlands         20100000
20               Vietnam         18000000
21                 India         17900000
22           South Korea         17500000
23               Croatia         17400000
24               Hungary         16900000
25  United Arab Emirates         16700000
26             Indonesia         15500000
27             Singapore         15100000
28        Czech Republic         14300000
29               Ukraine         14200000
30          Saudi Arabia         13600000
31               Denmark         13300000
32               Morocco         12900000
33                Taiwan         11900000
34           Switzerland         11800000
35                 Egypt         11300000
36               Ireland         10900000
37          South Africa         10200000
38             Australia          9500000
39               Tunisia          9400000
40               Belgium          9300000
41              Bulgaria          9300000
42           Philippines          8300000
43             Argentina          7400000
44                Sweden          7400000
45                  Iran          7300000
46            Kyrgyzstan          6900000
47            Uzbekistan          6700000
48              Cambodia          6600000

In [4]:
visits['country'] = visits['country'].str.lower()
visits

                 country  touristArrivals
0                 france         89400000
1                  spain         83700000
2          united states         79300000
3                  china         65700000
4                  italy         64500000
5                 turkey         51200000
6                 mexico         45000000
7               thailand         39800000
8                germany         39600000
9         united kingdom         39400000
10                 japan         32300000
11               austria         31900000
12                greece         31300000
13              malaysia         26100000
14              portugal         24600000
15                russia         24400000
16             hong kong         23800000
17                poland         22100000
18                canada         22100000
19           netherlands         20100000
20               vietnam         18000000
21                 india         17900000
22           south korea         17500000
23               croatia         17400000
24               hungary         16900000
25  united arab emirates         16700000
26             indonesia         15500000
27             singapore         15100000
28        czech republic         14300000
29               ukraine         14200000
30          saudi arabia         13600000
31               denmark         13300000
32               morocco         12900000
33                taiwan         11900000
34           switzerland         11800000
35                 egypt         11300000
36               ireland         10900000
37          south africa         10200000
38             australia          9500000
39               tunisia          9400000
40               belgium          9300000
41              bulgaria          9300000
42           philippines          8300000
43             argentina          7400000
44                sweden          7400000
45                  iran          7300000
46            kyrgyzstan          6900000
47            uzbekistan          6700000
48              cambodia          6600000

In [5]:
visits.rename(columns={'touristArrivals': 'arrivals'}, inplace=True)
visits

                 country  arrivals
0                 france  89400000
1                  spain  83700000
2          united states  79300000
3                  china  65700000
4                  italy  64500000
5                 turkey  51200000
6                 mexico  45000000
7               thailand  39800000
8                germany  39600000
9         united kingdom  39400000
10                 japan  32300000
11               austria  31900000
12                greece  31300000
13              malaysia  26100000
14              portugal  24600000
15                russia  24400000
16             hong kong  23800000
17                poland  22100000
18                canada  22100000
19           netherlands  20100000
20               vietnam  18000000
21                 india  17900000
22           south korea  17500000
23               croatia  17400000
24               hungary  16900000
25  united arab emirates  16700000
26             indonesia  15500000
27             singapore  15100000
28        czech republic  14300000
29               ukraine  14200000
30          saudi arabia  13600000
31               denmark  13300000
32               morocco  12900000
33                taiwan  11900000
34           switzerland  11800000
35                 egypt  11300000
36               ireland  10900000
37          south africa  10200000
38             australia   9500000
39               tunisia   9400000
40               belgium   9300000
41              bulgaria   9300000
42           philippines   8300000
43             argentina   7400000
44                sweden   7400000
45                  iran   7300000
46            kyrgyzstan   6900000
47            uzbekistan   6700000
48              cambodia   6600000

In [6]:
visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   49 non-null     object
 1   arrivals  49 non-null     int64
dtypes: int64(1), object(1)
memory usage: 912.0+ bytes

In [7]:
visits['arrivals_ranking'] = visits['arrivals'].rank(ascending=False,method='dense').astype(int)

In [8]:
visits = visits[['country','arrivals_ranking','arrivals']]
visits.head(10)

          country  arrivals_ranking  arrivals
0          france                 1  89400000
1           spain                 2  83700000
2   united states                 3  79300000
3           china                 4  65700000
4           italy                 5  64500000
5          turkey                 6  51200000
6          mexico                 7  45000000
7        thailand                 8  39800000
8         germany                 9  39600000
9  united kingdom                10  39400000

# Travel Safety Table  (Web Scraping - Travel Safe)

In [9]:
url = 'https://www.travelsafe-abroad.com/countries/'

In [10]:
travel_safety = requests.get(url)
soup = BeautifulSoup(travel_safety.text,'html.parser')

In [11]:
elements = soup.find_all(lambda tag: tag.name == 'span' and tag.get('class', [''])[0].startswith('score-cell-color'))

In [12]:
elements

[<span class="score-cell-color cell-color-red">14</span>,
 <span class="score-cell-color cell-color-green">75</span>,
 <span class="score-cell-color cell-color-orange">44</span>,
 <span class="score-cell-color cell-color-orange">48</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-orange">60</span>,
 <span class="score-cell-color cell-color-green">90</span>,
 <span class="score-cell-color cell-color-green">86</span>,
 <span class="score-cell-color cell-color-green">92</span>,
 <span class="score-cell-color cell-color-orange">51</span>,
 <span class="score-cell-color cell-color-orange">46</span>,
 <span class="score-cell-color cell-color-orange">49</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-green">77</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-orange">43</span>,
 <span class="score-cell-color cell-color-orange">45</span>,
 <span class="score-cell-color cell-color-green">90</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-orange">57</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-orange">48</span>,
 <span class="score-cell-color cell-color-green">77</span>,
 <span class="score-cell-color cell-color-orange">52</span>,
 <span class="score-cell-color cell-color-green">89</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-orange">41</span>,
 <span class="score-cell-color cell-color-red">30</span>,
 <span class="score-cell-color cell-color-green">68</span>,
 <span class="score-cell-color cell-color-orange">36</span>,
 <span class="score-cell-color cell-color-green">88</span>,
 <span class="score-cell-color cell-color-orange">50</span>,
 <span class="score-cell-color cell-color-red">32</span>,
 <span class="score-cell-color cell-color-red">32</span>,
 <span class="score-cell-color cell-color-green">79</span>,
 <span class="score-cell-color cell-color-green">66</span>,
 <span class="score-cell-color cell-color-orange">42</span>,
 <span class="score-cell-color cell-color-orange">64</span>,
 <span class="score-cell-color cell-color-green">83</span>,
 <span class="score-cell-color cell-color-orange">47</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-green">75</span>,
 <span class="score-cell-color cell-color-green">88</span>,
 <span class="score-cell-color cell-color-red">21</span>,
 <span class="score-cell-color cell-color-green">94</span>,
 <span class="score-cell-color cell-color-orange">38</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-orange">54</span>,
 <span class="score-cell-color cell-color-orange">55</span>,
 <span class="score-cell-color cell-color-orange">38</span>,
 <span class="score-cell-color cell-color-orange">50</span>,
 <span class="score-cell-color cell-color-green">68</span>,
 <span class="score-cell-color cell-color-red">32</span>,
 <span class="score-cell-color cell-color-green">82</span>,
 <span class="score-cell-color cell-color-orange">47</span>,
 <span class="score-cell-color cell-color-orange">41</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-green">86</span>,
 <span class="score-cell-color cell-color-orange">64</span>,
 <span class="score-cell-color cell-color-green">92</span>,
 <span class="score-cell-color cell-color-orange">45</span>,
 <span class="score-cell-color cell-color-green">69</span>,
 <span class="score-cell-color cell-color-orange">63</span>,
 <span class="score-cell-color cell-color-green">85</span>,
 <span class="score-cell-color cell-color-green">73</span>,
 <span class="score-cell-color cell-color-green">90</span>,
 <span class="score-cell-color cell-color-green">73</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-orange">53</span>,
 <span class="score-cell-color cell-color-orange">39</span>,
 <span class="score-cell-color cell-color-orange">36</span>,
 <span class="score-cell-color cell-color-orange">43</span>,
 <span class="score-cell-color cell-color-orange">42</span>,
 <span class="score-cell-color cell-color-orange">49</span>,
 <span class="score-cell-color cell-color-green">83</span>,
 <span class="score-cell-color cell-color-green">95</span>,
 <span class="score-cell-color cell-color-orange">47</span>,
 <span class="score-cell-color cell-color-orange">58</span>,
 <span class="score-cell-color cell-color-orange">35</span>,
 <span class="score-cell-color cell-color-red">14</span>,
 <span class="score-cell-color cell-color-green">83</span>,
 <span class="score-cell-color cell-color-orange">60</span>,
 <span class="score-cell-color cell-color-green">77</span>,
 <span class="score-cell-color cell-color-orange">37</span>,
 <span class="score-cell-color cell-color-orange">55</span>,
 <span class="score-cell-color cell-color-green">83</span>,
 <span class="score-cell-color cell-color-orange">53</span>,
 <span class="score-cell-color cell-color-green">72</span>,
 <span class="score-cell-color cell-color-orange">45</span>,
 <span class="score-cell-color cell-color-orange">44</span>,
 <span class="score-cell-color cell-color-green">66</span>,
 <span class="score-cell-color cell-color-orange">38</span>,
 <span class="score-cell-color cell-color-orange">51</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-orange">35</span>,
 <span class="score-cell-color cell-color-orange">47</span>,
 <span class="score-cell-color cell-color-orange">45</span>,
 <span class="score-cell-color cell-color-red">21</span>,
 <span class="score-cell-color cell-color-green">89</span>,
 <span class="score-cell-color cell-color-green">79</span>,
 <span class="score-cell-color cell-color-green">74</span>,
 <span class="score-cell-color cell-color-orange">55</span>,
 <span class="score-cell-color cell-color-orange">49</span>,
 <span class="score-cell-color cell-color-orange">53</span>,
 <span class="score-cell-color cell-color-green">69</span>,
 <span class="score-cell-color cell-color-orange">46</span>,
 <span class="score-cell-color cell-color-red">31</span>,
 <span class="score-cell-color cell-color-green">78</span>,
 <span class="score-cell-color cell-color-orange">35</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-orange">65</span>,
 <span class="score-cell-color cell-color-green">67</span>,
 <span class="score-cell-color cell-color-green">88</span>,
 <span class="score-cell-color cell-color-green">71</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-orange">54</span>,
 <span class="score-cell-color cell-color-orange">46</span>,
 <span class="score-cell-color cell-color-orange">39</span>,
 <span class="score-cell-color cell-color-green">71</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-orange">59</span>,
 <span class="score-cell-color cell-color-green">75</span>,
 <span class="score-cell-color cell-color-green">90</span>,
 <span class="score-cell-color cell-color-orange">46</span>,
 <span class="score-cell-color cell-color-orange">37</span>,
 <span class="score-cell-color cell-color-red">33</span>,
 <span class="score-cell-color cell-color-red">21</span>,
 <span class="score-cell-color cell-color-green">85</span>,
 <span class="score-cell-color cell-color-green">76</span>,
 <span class="score-cell-color cell-color-red">26</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-orange">65</span>,
 <span class="score-cell-color cell-color-orange">47</span>,
 <span class="score-cell-color cell-color-orange">45</span>,
 <span class="score-cell-color cell-color-orange">50</span>,
 <span class="score-cell-color cell-color-orange">47</span>,
 <span class="score-cell-color cell-color-green">84</span>,
 <span class="score-cell-color cell-color-orange">57</span>,
 <span class="score-cell-color cell-color-orange">34</span>,
 <span class="score-cell-color cell-color-green">84</span>,
 <span class="score-cell-color cell-color-orange">54</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-orange">34</span>,
 <span class="score-cell-color cell-color-orange">37</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-orange">46</span>,
 <span class="score-cell-color cell-color-orange">45</span>,
 <span class="score-cell-color cell-color-green">77</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-orange">50</span>,
 <span class="score-cell-color cell-color-green">90</span>,
 <span class="score-cell-color cell-color-green">80</span>,
 <span class="score-cell-color cell-color-green">87</span>,
 <span class="score-cell-color cell-color-red">16</span>,
 <span class="score-cell-color cell-color-orange">48</span>,
 <span class="score-cell-color cell-color-green">82</span>,
 <span class="score-cell-color cell-color-red">10</span>,
 <span class="score-cell-color cell-color-green">83</span>,
 <span class="score-cell-color cell-color-orange">60</span>,
 <span class="score-cell-color cell-color-orange">55</span>,
 <span class="score-cell-color cell-color-orange">62</span>,
 <span class="score-cell-color cell-color-green">83</span>,
 <span class="score-cell-color cell-color-green">89</span>,
 <span class="score-cell-color cell-color-red">10</span>,
 <span class="score-cell-color cell-color-orange">54</span>,
 <span class="score-cell-color cell-color-orange">38</span>,
 <span class="score-cell-color cell-color-orange">59</span>,
 <span class="score-cell-color cell-color-orange">48</span>,
 <span class="score-cell-color cell-color-orange">49</span>,
 <span class="score-cell-color cell-color-orange">48</span>,
 <span class="score-cell-color cell-color-green">69</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-orange">43</span>,
 <span class="score-cell-color cell-color-orange">53</span>,
 <span class="score-cell-color cell-color-orange">45</span>,
 <span class="score-cell-color cell-color-orange">42</span>,
 <span class="score-cell-color cell-color-orange">49</span>,
 <span class="score-cell-color cell-color-red">30</span>,
 <span class="score-cell-color cell-color-green">79</span>,
 <span class="score-cell-color cell-color-green">77</span>,
 <span class="score-cell-color cell-color-green">68</span>,
 <span class="score-cell-color cell-color-green">77</span>,
 <span class="score-cell-color cell-color-orange">40</span>,
 <span class="score-cell-color cell-color-green">70</span>,
 <span class="score-cell-color cell-color-red">33</span>,
 <span class="score-cell-color cell-color-green">73</span>,
 <span class="score-cell-color cell-color-red">10</span>,
 <span class="score-cell-color cell-color-orange">52</span>,
 <span class="score-cell-color cell-color-orange">53</span>]

In [13]:
values = []
for i in elements:
    values.append(i.text.strip())
values

['14',
 '75',
 '44',
 '48',
 '70',
 '70',
 '60',
 '90',
 '86',
 '92',
 '51',
 '46',
 '49',
 '80',
 '77',
 '70',
 '43',
 '45',
 '90',
 '70',
 '57',
 '80',
 '48',
 '77',
 '52',
 '89',
 '80',
 '80',
 '41',
 '30',
 '68',
 '36',
 '88',
 '50',
 '32',
 '32',
 '79',
 '66',
 '42',
 '64',
 '83',
 '47',
 '80',
 '75',
 '88',
 '21',
 '94',
 '38',
 '80',
 '54',
 '55',
 '38',
 '50',
 '68',
 '32',
 '82',
 '47',
 '41',
 '70',
 '86',
 '64',
 '92',
 '45',
 '69',
 '63',
 '85',
 '73',
 '90',
 '73',
 '80',
 '80',
 '53',
 '39',
 '36',
 '43',
 '42',
 '49',
 '83',
 '95',
 '47',
 '58',
 '35',
 '14',
 '83',
 '60',
 '77',
 '37',
 '55',
 '83',
 '53',
 '72',
 '45',
 '44',
 '66',
 '38',
 '51',
 '80',
 '35',
 '47',
 '45',
 '21',
 '89',
 '79',
 '74',
 '55',
 '49',
 '53',
 '69',
 '46',
 '31',
 '78',
 '35',
 '80',
 '65',
 '67',
 '88',
 '71',
 '70',
 '70',
 '54',
 '46',
 '39',
 '71',
 '80',
 '59',
 '75',
 '90',
 '46',
 '37',
 '33',
 '21',
 '85',
 '76',
 '26',
 '80',
 '65',
 '47',
 '45',
 '50',
 '47',
 '84',
 '57',
 '34',
 '84',
 '54',
 '80',
 '34',
 '37',
 '70',
 '70',
 '70',
 '46',
 '45',
 '77',
 '80',
 '50',
 '90',
 '80',
 '87',
 '16',
 '48',
 '82',
 '10',
 '83',
 '60',
 '55',
 '62',
 '83',
 '89',
 '10',
 '54',
 '38',
 '59',
 '48',
 '49',
 '48',
 '69',
 '70',
 '43',
 '53',
 '45',
 '42',
 '49',
 '30',
 '79',
 '77',
 '68',
 '77',
 '40',
 '70',
 '33',
 '73',
 '10',
 '52',
 '53']

In [14]:
country_links = soup.find_all('a', href=lambda href: href and href.startswith('https://www.travelsafe-abroad.com/'))[16:-26]
country_links

[<a href="https://www.travelsafe-abroad.com/afghanistan/">Afghanistan</a>,
 <a href="https://www.travelsafe-abroad.com/albania/">Albania</a>,
 <a href="https://www.travelsafe-abroad.com/algeria/">Algeria</a>,
 <a href="https://www.travelsafe-abroad.com/angola/">Angola</a>,
 <a href="https://www.travelsafe-abroad.com/anguilla/">Anguilla</a>,
 <a href="https://www.travelsafe-abroad.com/argentina/">Argentina</a>,
 <a href="https://www.travelsafe-abroad.com/armenia/">Armenia</a>,
 <a href="https://www.travelsafe-abroad.com/aruba/">Aruba</a>,
 <a href="https://www.travelsafe-abroad.com/australia/">Australia</a>,
 <a href="https://www.travelsafe-abroad.com/austria/">Austria</a>,
 <a href="https://www.travelsafe-abroad.com/azerbaijan/">Azerbaijan</a>,
 <a href="https://www.travelsafe-abroad.com/bahrain/">Bahrain</a>,
 <a href="https://www.travelsafe-abroad.com/bangladesh/">Bangladesh</a>,
 <a href="https://www.travelsafe-abroad.com/barbados/">Barbados</a>,
 <a href="https://www.travelsafe-abroad.com/belarus/">Belarus</a>,
 <a href="https://www.travelsafe-abroad.com/belgium/">Belgium</a>,
 <a href="https://www.travelsafe-abroad.com/belize/">Belize</a>,
 <a href="https://www.travelsafe-abroad.com/benin/">Benin</a>,
 <a href="https://www.travelsafe-abroad.com/bermuda/">Bermuda</a>,
 <a href="https://www.travelsafe-abroad.com/bhutan/">Bhutan</a>,
 <a href="https://www.travelsafe-abroad.com/bolivia/">Bolivia</a>,
 <a href="https://www.travelsafe-abroad.com/bonaire/">Bonaire</a>,
 <a href="https://www.travelsafe-abroad.com/bosnia-and-herzegovina/">Bosnia and Herzegovina</a>,
 <a href="https://www.travelsafe-abroad.com/botswana/">Botswana</a>,
 <a href="https://www.travelsafe-abroad.com/brazil/">Brazil</a>,
 <a href="https://www.travelsafe-abroad.com/british-virgin-islands/">British Virgin Islands</a>,
 <a href="https://www.travelsafe-abroad.com/brunei/">Brunei</a>,
 <a href="https://www.travelsafe-abroad.com/bulgaria/">Bulgaria</a>,
 <a href="https://www.travelsafe-abroad.com/burkina-faso/">Burkina Faso</a>,
 <a href="https://www.travelsafe-abroad.com/burundi/">Burundi</a>,
 <a href="https://www.travelsafe-abroad.com/cambodia/">Cambodia</a>,
 <a href="https://www.travelsafe-abroad.com/cameroon/">Cameroon</a>,
 <a href="https://www.travelsafe-abroad.com/canada/">Canada</a>,
 <a href="https://www.travelsafe-abroad.com/cayman-islands/">Cayman Islands</a>,
 <a href="https://www.travelsafe-abroad.com/central-african-republic/">Central African Republic</a>,
 <a href="https://www.travelsafe-abroad.com/chad/">Chad</a>,
 <a href="https://www.travelsafe-abroad.com/chile/">Chile</a>,
 <a href="https://www.travelsafe-abroad.com/china/">China</a>,
 <a href="https://www.travelsafe-abroad.com/colombia/">Colombia</a>,
 <a href="https://www.travelsafe-abroad.com/costa-rica/">Costa Rica</a>,
 <a href="https://www.travelsafe-abroad.com/croatia/">Croatia</a>,
 <a href="https://www.travelsafe-abroad.com/cuba/">Cuba</a>,
 <a href="https://www.travelsafe-abroad.com/curacao/">Curacao</a>,
 <a href="https://www.travelsafe-abroad.com/cyprus/">Cyprus</a>,
 <a href="https://www.travelsafe-abroad.com/czech-republic/">Czech Republic</a>,
 <a href="https://www.travelsafe-abroad.com/democratic-republic-of-the-congo/">Democratic Republic of the Congo</a>,
 <a href="https://www.travelsafe-abroad.com/denmark/">Denmark</a>,
 <a href="https://www.travelsafe-abroad.com/djibouti/">Djibouti</a>,
 <a href="https://www.travelsafe-abroad.com/dominica/">Dominica</a>,
 <a href="https://www.travelsafe-abroad.com/dominican-republic/">Dominican Republic</a>,
 <a href="https://www.travelsafe-abroad.com/ecuador/">Ecuador</a>,
 <a href="https://www.travelsafe-abroad.com/egypt/">Egypt</a>,
 <a href="https://www.travelsafe-abroad.com/el-salvador/">El Salvador</a>,
 <a href="https://www.travelsafe-abroad.com/equatorial-guinea/">Equatorial Guinea</a>,
 <a href="https://www.travelsafe-abroad.com/eritrea/">Eritrea</a>,
 <a href="https://www.travelsafe-abroad.com/estonia/">Estonia</a>,
 <a href="https://www.travelsafe-abroad.com/eswatini/">Eswatini</a>,
 <a href="https://www.travelsafe-abroad.com/ethiopia/">Ethiopia</a>,
 <a href="https://www.travelsafe-abroad.com/fiji/">Fiji</a>,
 <a href="https://www.travelsafe-abroad.com/finland/">Finland</a>,
 <a href="https://www.travelsafe-abroad.com/france/">France</a>,
 <a href="https://www.travelsafe-abroad.com/french-polynesia/">French Polynesia</a>,
 <a href="https://www.travelsafe-abroad.com/gabon/">Gabon</a>,
 <a href="https://www.travelsafe-abroad.com/gambia/">Gambia</a>,
 <a href="https://www.travelsafe-abroad.com/georgia/">Georgia</a>,
 <a href="https://www.travelsafe-abroad.com/germany/">Germany</a>,
 <a href="https://www.travelsafe-abroad.com/ghana/">Ghana</a>,
 <a href="https://www.travelsafe-abroad.com/gibraltar/">Gibraltar</a>,
 <a href="https://www.travelsafe-abroad.com/greece/">Greece</a>,
 <a href="https://www.travelsafe-abroad.com/greenland/">Greenland</a>,
 <a href="https://www.travelsafe-abroad.com/grenada/">Grenada</a>,
 <a href="https://www.travelsafe-abroad.com/guatemala/">Guatemala</a>,
 <a href="https://www.travelsafe-abroad.com/guinea/">Guinea</a>,
 <a href="https://www.travelsafe-abroad.com/guinea-bissau/">Guinea-Bissau</a>,
 <a href="https://www.travelsafe-abroad.com/guyana/">Guyana</a>,
 <a href="https://www.travelsafe-abroad.com/haiti/">Haiti</a>,
 <a href="https://www.travelsafe-abroad.com/honduras/">Honduras</a>,
 <a href="https://www.travelsafe-abroad.com/hungary/">Hungary</a>,
 <a href="https://www.travelsafe-abroad.com/iceland/">Iceland</a>,
 <a href="https://www.travelsafe-abroad.com/india/">India</a>,
 <a href="https://www.travelsafe-abroad.com/indonesia/">Indonesia</a>,
 <a href="https://www.travelsafe-abroad.com/iran/">Iran</a>,
 <a href="https://www.travelsafe-abroad.com/iraq/">Iraq</a>,
 <a href="https://www.travelsafe-abroad.com/ireland/">Ireland</a>,
 <a href="https://www.travelsafe-abroad.com/israel/">Israel</a>,
 <a href="https://www.travelsafe-abroad.com/italy/">Italy</a>,
 <a href="https://www.travelsafe-abroad.com/ivory-coast/">Ivory Coast</a>,
 <a href="https://www.travelsafe-abroad.com/jamaica/">Jamaica</a>,
 <a href="https://www.travelsafe-abroad.com/japan/">Japan</a>,
 <a href="https://www.travelsafe-abroad.com/jordan/">Jordan</a>,
 <a href="https://www.travelsafe-abroad.com/kazakhstan/">Kazakhstan</a>,
 <a href="https://www.travelsafe-abroad.com/kenya/">Kenya</a>,
 <a href="https://www.travelsafe-abroad.com/kosovo/">Kosovo</a>,
 <a href="https://www.travelsafe-abroad.com/kuwait/">Kuwait</a>,
 <a href="https://www.travelsafe-abroad.com/kyrgyz-republic/">Kyrgyz Republic</a>,
 <a href="https://www.travelsafe-abroad.com/laos/">Laos</a>,
 <a href="https://www.travelsafe-abroad.com/latvia/">Latvia</a>,
 <a href="https://www.travelsafe-abroad.com/lebanon/">Lebanon</a>,
 <a href="https://www.travelsafe-abroad.com/lesotho/">Lesotho</a>,
 <a href="https://www.travelsafe-abroad.com/liberia/">Liberia</a>,
 <a href="https://www.travelsafe-abroad.com/libya/">Libya</a>,
 <a href="https://www.travelsafe-abroad.com/liechtenstein/">Liechtenstein</a>,
 <a href="https://www.travelsafe-abroad.com/lithuania/">Lithuania</a>,
 <a href="https://www.travelsafe-abroad.com/luxembourg/">Luxembourg</a>,
 <a href="https://www.travelsafe-abroad.com/macedonia/">Macedonia</a>,
 <a href="https://www.travelsafe-abroad.com/madagascar/">Madagascar</a>,
 <a href="https://www.travelsafe-abroad.com/malawi/">Malawi</a>,
 <a href="https://www.travelsafe-abroad.com/malaysia/">Malaysia</a>,
 <a href="https://www.travelsafe-abroad.com/maldives/">Maldives</a>,
 <a href="https://www.travelsafe-abroad.com/mali/">Mali</a>,
 <a href="https://www.travelsafe-abroad.com/malta/">Malta</a>,
 <a href="https://www.travelsafe-abroad.com/mauritania/">Mauritania</a>,
 <a href="https://www.travelsafe-abroad.com/mauritius/">Mauritius</a>,
 <a href="https://www.travelsafe-abroad.com/mexico/">Mexico</a>,
 <a href="https://www.travelsafe-abroad.com/moldova/">Moldova</a>,
 <a href="https://www.travelsafe-abroad.com/monaco/">Monaco</a>,
 <a href="https://www.travelsafe-abroad.com/mongolia/">Mongolia</a>,
 <a href="https://www.travelsafe-abroad.com/montenegro/">Montenegro</a>,
 <a href="https://www.travelsafe-abroad.com/montserrat/">Montserrat</a>,
 <a href="https://www.travelsafe-abroad.com/morocco/">Morocco</a>,
 <a href="https://www.travelsafe-abroad.com/mozambique/">Mozambique</a>,
 <a href="https://www.travelsafe-abroad.com/myanmar/">Myanmar</a>,
 <a href="https://www.travelsafe-abroad.com/namibia/">Namibia</a>,
 <a href="https://www.travelsafe-abroad.com/nauru/">Nauru</a>,
 <a href="https://www.travelsafe-abroad.com/nepal/">Nepal</a>,
 <a href="https://www.travelsafe-abroad.com/netherlands/">Netherlands</a>,
 <a href="https://www.travelsafe-abroad.com/new-zealand/">New Zealand</a>,
 <a href="https://www.travelsafe-abroad.com/nicaragua/">Nicaragua</a>,
 <a href="https://www.travelsafe-abroad.com/niger/">Niger</a>,
 <a href="https://www.travelsafe-abroad.com/nigeria/">Nigeria</a>,
 <a href="https://www.travelsafe-abroad.com/north-korea/">North Korea</a>,
 <a href="https://www.travelsafe-abroad.com/norway/">Norway</a>,
 <a href="https://www.travelsafe-abroad.com/oman/">Oman</a>,
 <a href="https://www.travelsafe-abroad.com/pakistan/">Pakistan</a>,
 <a href="https://www.travelsafe-abroad.com/palau/">Palau</a>,
 <a href="https://www.travelsafe-abroad.com/panama/">Panama</a>,
 <a href="https://www.travelsafe-abroad.com/papua-new-guinea/">Papua New Guinea</a>,
 <a href="https://www.travelsafe-abroad.com/paraguay/">Paraguay</a>,
 <a href="https://www.travelsafe-abroad.com/peru/">Peru</a>,
 <a href="https://www.travelsafe-abroad.com/philippines/">Philippines</a>,
 <a href="https://www.travelsafe-abroad.com/poland/">Poland</a>,
 <a href="https://www.travelsafe-abroad.com/portugal/">Portugal</a>,
 <a href="https://www.travelsafe-abroad.com/puerto-rico/">Puerto Rico</a>,
 <a href="https://www.travelsafe-abroad.com/qatar/">Qatar</a>,
 <a href="https://www.travelsafe-abroad.com/republic-of-the-congo/">Republic of the Congo</a>,
 <a href="https://www.travelsafe-abroad.com/romania/">Romania</a>,
 <a href="https://www.travelsafe-abroad.com/russia/">Russia</a>,
 <a href="https://www.travelsafe-abroad.com/rwanda/">Rwanda</a>,
 <a href="https://www.travelsafe-abroad.com/saint-kitts-and-nevis/">Saint Kitts and Nevis</a>,
 <a href="https://www.travelsafe-abroad.com/saint-lucia/">Saint Lucia</a>,
 <a href="https://www.travelsafe-abroad.com/samoa/">Samoa</a>,
 <a href="https://www.travelsafe-abroad.com/saudi-arabia/">Saudi Arabia</a>,
 <a href="https://www.travelsafe-abroad.com/senegal/">Senegal</a>,
 <a href="https://www.travelsafe-abroad.com/serbia/">Serbia</a>,
 <a href="https://www.travelsafe-abroad.com/seychelles/">Seychelles</a>,
 <a href="https://www.travelsafe-abroad.com/sierra-leone/">Sierra Leone</a>,
 <a href="https://www.travelsafe-abroad.com/singapore/">Singapore</a>,
 <a href="https://www.travelsafe-abroad.com/slovakia/">Slovakia</a>,
 <a href="https://www.travelsafe-abroad.com/slovenia/">Slovenia</a>,
 <a href="https://www.travelsafe-abroad.com/somalia/">Somalia</a>,
 <a href="https://www.travelsafe-abroad.com/south-africa/">South Africa</a>,
 <a href="https://www.travelsafe-abroad.com/south-korea/">South Korea</a>,
 <a href="https://www.travelsafe-abroad.com/south-sudan/">South Sudan</a>,
 <a href="https://www.travelsafe-abroad.com/spain/">Spain</a>,
 <a href="https://www.travelsafe-abroad.com/sri-lanka/">Sri Lanka</a>,
 <a href="https://www.travelsafe-abroad.com/sudan/">Sudan</a>,
 <a href="https://www.travelsafe-abroad.com/suriname/">Suriname</a>,
 <a href="https://www.travelsafe-abroad.com/sweden/">Sweden</a>,
 <a href="https://www.travelsafe-abroad.com/switzerland/">Switzerland</a>,
 <a href="https://www.travelsafe-abroad.com/syria/">Syria</a>,
 <a href="https://www.travelsafe-abroad.com/taiwan/">Taiwan</a>,
 <a href="https://www.travelsafe-abroad.com/tajikistan/">Tajikistan</a>,
 <a href="https://www.travelsafe-abroad.com/tanzania/">Tanzania</a>,
 <a href="https://www.travelsafe-abroad.com/thailand/">Thailand</a>,
 <a href="https://www.travelsafe-abroad.com/the-bahamas/">The Bahamas</a>,
 <a href="https://www.travelsafe-abroad.com/timor-leste/">Timor-Leste</a>,
 <a href="https://www.travelsafe-abroad.com/togo/">Togo</a>,
 <a href="https://www.travelsafe-abroad.com/tonga/">Tonga</a>,
 <a href="https://www.travelsafe-abroad.com/trinidad-and-tobago/">Trinidad and Tobago</a>,
 <a href="https://www.travelsafe-abroad.com/tunisia/">Tunisia</a>,
 <a href="https://www.travelsafe-abroad.com/turkey/">Turkey</a>,
 <a href="https://www.travelsafe-abroad.com/turkmenistan/">Turkmenistan</a>,
 <a href="https://www.travelsafe-abroad.com/uganda/">Uganda</a>,
 <a href="https://www.travelsafe-abroad.com/ukraine/">Ukraine</a>,
 <a href="https://www.travelsafe-abroad.com/united-arab-emirates/">United Arab Emirates</a>,
 <a href="https://www.travelsafe-abroad.com/united-kingdom/">United Kingdom</a>,
 <a href="https://www.travelsafe-abroad.com/united-states/">United States</a>,
 <a href="https://www.travelsafe-abroad.com/uruguay/">Uruguay</a>,
 <a href="https://www.travelsafe-abroad.com/uzbekistan/">Uzbekistan</a>,
 <a href="https://www.travelsafe-abroad.com/vanuatu/">Vanuatu</a>,
 <a href="https://www.travelsafe-abroad.com/venezuela/">Venezuela</a>,
 <a href="https://www.travelsafe-abroad.com/vietnam/">Vietnam</a>,
 <a href="https://www.travelsafe-abroad.com/yemen/">Yemen</a>,
 <a href="https://www.travelsafe-abroad.com/zambia/">Zambia</a>,
 <a href="https://www.travelsafe-abroad.com/zimbabwe/">Zimbabwe</a>]

In [15]:
countries = []
for i in country_links:
    countries.append(i.text.strip())
countries

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Anguilla',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of the Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Samoa',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'The Bahamas',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [16]:
travel_safety = pd.DataFrame({'country': countries, 'safety_index': values})
travel_safety

         country safety_index
0    Afghanistan           14
1        Albania           75
2        Algeria           44
3         Angola           48
4       Anguilla           70
..           ...          ...
190    Venezuela           33
191      Vietnam           73
192        Yemen           10
193       Zambia           52
194     Zimbabwe           53

[195 rows x 2 columns]

In [17]:
travel_safety[travel_safety['country'] == 'United States']

           country safety_index
186  United States           68

In [18]:
travel_safety[travel_safety['country'] == 'Mexico']

    country safety_index
113  Mexico           65

In [19]:
travel_safety[travel_safety['country'] == 'Finland']

    country safety_index
59  Finland           86

In [20]:
travel_safety['country'] = travel_safety['country'].str.lower()

In [21]:
travel_safety['safety_index'] = pd.to_numeric(travel_safety['safety_index'], errors='coerce')
travel_safety.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       195 non-null    object
 1   safety_index  195 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.2+ KB

In [22]:
travel_safety = travel_safety.sort_values(by='safety_index', ascending=False)

In [23]:
travel_safety.reset_index(drop=True, inplace=True)
travel_safety

              country  safety_index
0             iceland            95
1             denmark            94
2    french polynesia            92
3             austria            92
4             bermuda            90
..                ...           ...
190       afghanistan            14
191              iraq            14
192             yemen            10
193       south sudan            10
194             syria            10

[195 rows x 2 columns]

In [24]:


# Assuming travel_safety is your DataFrame with the "safety_ranking" column
# Add your rankings and rearrange columns
travel_safety['safety_ranking'] = travel_safety['safety_index'].rank(ascending=False, method='dense').astype(int)
travel_safety = travel_safety[['country', 'safety_ranking', 'safety_index']]

# Sort the DataFrame by "safety_ranking" column
travel_safety = travel_safety.sort_values(by='safety_ranking')

# Display the sorted DataFrame
travel_safety.head(40)

                   country  safety_ranking  safety_index
0                  iceland               1            95
1                  denmark               2            94
2         french polynesia               3            92
3                  austria               3            92
4                  bermuda               4            90
5              new zealand               4            90
6                    aruba               4            90
7                gibraltar               4            90
8                singapore               4            90
9              switzerland               5            89
10  british virgin islands               5            89
11           liechtenstein               5            89
14          czech republic               6            88
12                  canada               6            88
13                  monaco               6            88
15                slovenia               7            87
16                 finland               8            86
17               australia               8            86
18                 germany               9            85
19                  norway               9            85
20                  poland              10            84
21                   qatar              10            84
26                 ireland              11            83
27                   japan              11            83
25                   spain              11            83
22                  sweden              11            83
23                 croatia              11            83
24                 hungary              11            83
28             south korea              12            82
29                 estonia              12            82
43                 romania              13            80
42                barbados              13            80
41                bulgaria              13            80
40                  brunei              13            80
39                slovakia              13            80
38                 bonaire              13            80
37               mauritius              13            80
35                  latvia              13            80
34                   nauru              13            80
33                dominica              13            80

# UNESCO Sites Table (Web Scraping - UNESCO)

In [25]:
url3= 'https://whc.unesco.org/en/list/stat#s3'

In [26]:
html = requests.get(url3)
soup = BeautifulSoup(html.text,'html.parser')

In [27]:
attempt1 = soup.find_all('table',id='tab2')

In [28]:
list = []
for x in attempt1:
    list.append(x.text.strip())
list

["States Parties\nProperties inscribed\n\n\nAfghanistan\n2\n\n\nAlbania\n4\n\n\nAlgeria\n7\n\n\nAndorra\n1\n\n\nAngola\n1\n\n\nAntigua and Barbuda\n1\n\n\nArgentina\n11\n\n\nArmenia\n3\n\n\nAustralia\n20\n\n\nAustria\n12\n\n\nAzerbaijan\n3\n\n\nBahrain\n3\n\n\nBangladesh\n3\n\n\nBarbados\n1\n\n\nBelarus\n4\n\n\nBelgium\n15\n\n\nBelize\n1\n\n\nBenin\n2\n\n\nBolivia (Plurinational State of)\n7\n\n\nBosnia and Herzegovina\n4\n\n\nBotswana\n2\n\n\nBrazil\n23\n\n\nBulgaria\n10\n\n\nBurkina Faso\n3\n\n\nCabo Verde\n1\n\n\nCambodia\n3\n\n\nCameroon\n2\n\n\nCanada\n20\n\n\nCentral African Republic\n2\n\n\nChad\n2\n\n\nChile\n7\n\n\nChina\n56\n\n\nColombia\n9\n\n\nCongo\n1\n\n\nCosta Rica\n4\n\n\nCôte d'Ivoire\n5\n\n\nCroatia\n10\n\n\nCuba\n9\n\n\nCyprus\n3\n\n\nCzechia\n16\n\n\nDemocratic People's Republic of Korea\n2\n\n\nDemocratic Republic of the Congo\n5\n\n\nDenmark\n10\n\n\nDominica\n1\n\n\nDominican Republic\n1\n\n\nEcuador\n5\n\n\nEgypt\n7\n\n\nEl Salvador\n1\n\n\nEritrea\n1\n\n\nEstonia\n2\n\n\nEthiopia\n9\n\n\nFiji\n1\n\n\nFinland\n7\n\n\nFrance\n49\n\n\nGabon\n2\n\n\nGambia\n2\n\n\nGeorgia\n4\n\n\nGermany\n51\n\n\nGhana\n2\n\n\nGreece\n18\n\n\nGuatemala\n3\n\n\nGuinea\n1\n\n\nHaiti\n1\n\n\nHoly See\n2\n\n\nHonduras\n2\n\n\nHungary\n8\n\n\nIceland\n3\n\n\nIndia\n40\n\n\nIndonesia\n9\n\n\nIran (Islamic Republic of)\n26\n\n\nIraq\n6\n\n\nIreland\n2\n\n\nIsrael\n9\n\n\nItaly\n58\n\n\nJamaica\n1\n\n\nJapan\n25\n\n\nJordan\n6\n\n\nKazakhstan\n5\n\n\nKenya\n7\n\n\nKiribati\n1\n\n\nKyrgyzstan\n3\n\n\nLao People's Democratic Republic\n3\n\n\nLatvia\n2\n\n\nLebanon\n6\n\n\nLesotho\n1\n\n\nLibya\n5\n\n\nLithuania\n4\n\n\nLuxembourg\n1\n\n\nMadagascar\n3\n\n\nMalawi\n2\n\n\nMalaysia\n4\n\n\nMali\n4\n\n\nMalta\n3\n\n\nMarshall Islands\n1\n\n\nMauritania\n2\n\n\nMauritius\n2\n\n\nMexico\n35\n\n\nMicronesia (Federated States of)\n1\n\n\nMongolia\n5\n\n\nMontenegro\n4\n\n\nMorocco\n9\n\n\nMozambique\n1\n\n\nMyanmar\n2\n\n\nNamibia\n2\n\n\nNepal\n4\n\n\nNetherlands\n12\n\n\nNew Zealand\n3\n\n\nNicaragua\n2\n\n\nNiger\n3\n\n\nNigeria\n2\n\n\nNorth Macedonia\n2\n\n\nNorway\n8\n\n\nOman\n5\n\n\nPakistan\n6\n\n\nPalau\n1\n\n\nPalestine\n3\n\n\nPanama\n5\n\n\nPapua New Guinea\n1\n\n\nParaguay\n1\n\n\nPeru\n13\n\n\nPhilippines\n6\n\n\nPoland\n17\n\n\nPortugal\n17\n\n\nQatar\n1\n\n\nRepublic of Korea\n15\n\n\nRepublic of Moldova\n1\n\n\nRomania\n9\n\n\nRussian Federation\n30\n\n\nSaint Kitts and Nevis\n1\n\n\nSaint Lucia\n1\n\n\nSan Marino\n1\n\n\nSaudi Arabia\n6\n\n\nSenegal\n7\n\n\nSerbia\n5\n\n\nSeychelles\n2\n\n\nSingapore\n1\n\n\nSlovakia\n8\n\n\nSlovenia\n5\n\n\nSolomon Islands\n1\n\n\nSouth Africa\n10\n\n\nSpain\n49\n\n\nSri Lanka\n8\n\n\nSudan\n3\n\n\nSuriname\n2\n\n\nSweden\n15\n\n\nSwitzerland\n13\n\n\nSyrian Arab Republic\n6\n\n\nTajikistan\n2\n\n\nThailand\n6\n\n\nTogo\n1\n\n\nTunisia\n8\n\n\nTürkiye\n19\n\n\nTurkmenistan\n3\n\n\nUganda\n3\n\n\nUkraine\n8\n\n\nUnited Arab Emirates\n1\n\n\nUnited Kingdom of Great Britain and Northern Ireland\n33\n\n\nUnited Republic of Tanzania\n7\n\n\nUnited States of America\n24\n\n\nUruguay\n3\n\n\nUzbekistan\n5\n\n\nVanuatu\n1\n\n\nVenezuela (Bolivarian Republic of)\n3\n\n\nViet Nam\n8\n\n\nYemen\n5\n\n\nZambia\n1\n\n\nZimbabwe\n5"]

In [29]:
y = []
for x in list:
    z = x.strip('[').strip(']').split('\n\n\n')
    y.append(z)
z

['States Parties\nProperties inscribed',
 'Afghanistan\n2',
 'Albania\n4',
 'Algeria\n7',
 'Andorra\n1',
 'Angola\n1',
 'Antigua and Barbuda\n1',
 'Argentina\n11',
 'Armenia\n3',
 'Australia\n20',
 'Austria\n12',
 'Azerbaijan\n3',
 'Bahrain\n3',
 'Bangladesh\n3',
 'Barbados\n1',
 'Belarus\n4',
 'Belgium\n15',
 'Belize\n1',
 'Benin\n2',
 'Bolivia (Plurinational State of)\n7',
 'Bosnia and Herzegovina\n4',
 'Botswana\n2',
 'Brazil\n23',
 'Bulgaria\n10',
 'Burkina Faso\n3',
 'Cabo Verde\n1',
 'Cambodia\n3',
 'Cameroon\n2',
 'Canada\n20',
 'Central African Republic\n2',
 'Chad\n2',
 'Chile\n7',
 'China\n56',
 'Colombia\n9',
 'Congo\n1',
 'Costa Rica\n4',
 "Côte d'Ivoire\n5",
 'Croatia\n10',
 'Cuba\n9',
 'Cyprus\n3',
 'Czechia\n16',
 "Democratic People's Republic of Korea\n2",
 'Democratic Republic of the Congo\n5',
 'Denmark\n10',
 'Dominica\n1',
 'Dominican Republic\n1',
 'Ecuador\n5',
 'Egypt\n7',
 'El Salvador\n1',
 'Eritrea\n1',
 'Estonia\n2',
 'Ethiopia\n9',
 'Fiji\n1',
 'Finland\n7',
 'France\n49',
 'Gabon\n2',
 'Gambia\n2',
 'Georgia\n4',
 'Germany\n51',
 'Ghana\n2',
 'Greece\n18',
 'Guatemala\n3',
 'Guinea\n1',
 'Haiti\n1',
 'Holy See\n2',
 'Honduras\n2',
 'Hungary\n8',
 'Iceland\n3',
 'India\n40',
 'Indonesia\n9',
 'Iran (Islamic Republic of)\n26',
 'Iraq\n6',
 'Ireland\n2',
 'Israel\n9',
 'Italy\n58',
 'Jamaica\n1',
 'Japan\n25',
 'Jordan\n6',
 'Kazakhstan\n5',
 'Kenya\n7',
 'Kiribati\n1',
 'Kyrgyzstan\n3',
 "Lao People's Democratic Republic\n3",
 'Latvia\n2',
 'Lebanon\n6',
 'Lesotho\n1',
 'Libya\n5',
 'Lithuania\n4',
 'Luxembourg\n1',
 'Madagascar\n3',
 'Malawi\n2',
 'Malaysia\n4',
 'Mali\n4',
 'Malta\n3',
 'Marshall Islands\n1',
 'Mauritania\n2',
 'Mauritius\n2',
 'Mexico\n35',
 'Micronesia (Federated States of)\n1',
 'Mongolia\n5',
 'Montenegro\n4',
 'Morocco\n9',
 'Mozambique\n1',
 'Myanmar\n2',
 'Namibia\n2',
 'Nepal\n4',
 'Netherlands\n12',
 'New Zealand\n3',
 'Nicaragua\n2',
 'Niger\n3',
 'Nigeria\n2',
 'North Macedonia\n2',
 'Norway\n8',
 'Oman\n5',
 'Pakistan\n6',
 'Palau\n1',
 'Palestine\n3',
 'Panama\n5',
 'Papua New Guinea\n1',
 'Paraguay\n1',
 'Peru\n13',
 'Philippines\n6',
 'Poland\n17',
 'Portugal\n17',
 'Qatar\n1',
 'Republic of Korea\n15',
 'Republic of Moldova\n1',
 'Romania\n9',
 'Russian Federation\n30',
 'Saint Kitts and Nevis\n1',
 'Saint Lucia\n1',
 'San Marino\n1',
 'Saudi Arabia\n6',
 'Senegal\n7',
 'Serbia\n5',
 'Seychelles\n2',
 'Singapore\n1',
 'Slovakia\n8',
 'Slovenia\n5',
 'Solomon Islands\n1',
 'South Africa\n10',
 'Spain\n49',
 'Sri Lanka\n8',
 'Sudan\n3',
 'Suriname\n2',
 'Sweden\n15',
 'Switzerland\n13',
 'Syrian Arab Republic\n6',
 'Tajikistan\n2',
 'Thailand\n6',
 'Togo\n1',
 'Tunisia\n8',
 'Türkiye\n19',
 'Turkmenistan\n3',
 'Uganda\n3',
 'Ukraine\n8',
 'United Arab Emirates\n1',
 'United Kingdom of Great Britain and Northern Ireland\n33',
 'United Republic of Tanzania\n7',
 'United States of America\n24',
 'Uruguay\n3',
 'Uzbekistan\n5',
 'Vanuatu\n1',
 'Venezuela (Bolivarian Republic of)\n3',
 'Viet Nam\n8',
 'Yemen\n5',
 'Zambia\n1',
 'Zimbabwe\n5']

In [30]:
u = []
for i in z:
    u.append(i.split('\n'))

In [31]:
u = u[1:]
u

[['Afghanistan', '2'],
 ['Albania', '4'],
 ['Algeria', '7'],
 ['Andorra', '1'],
 ['Angola', '1'],
 ['Antigua and Barbuda', '1'],
 ['Argentina', '11'],
 ['Armenia', '3'],
 ['Australia', '20'],
 ['Austria', '12'],
 ['Azerbaijan', '3'],
 ['Bahrain', '3'],
 ['Bangladesh', '3'],
 ['Barbados', '1'],
 ['Belarus', '4'],
 ['Belgium', '15'],
 ['Belize', '1'],
 ['Benin', '2'],
 ['Bolivia (Plurinational State of)', '7'],
 ['Bosnia and Herzegovina', '4'],
 ['Botswana', '2'],
 ['Brazil', '23'],
 ['Bulgaria', '10'],
 ['Burkina Faso', '3'],
 ['Cabo Verde', '1'],
 ['Cambodia', '3'],
 ['Cameroon', '2'],
 ['Canada', '20'],
 ['Central African Republic', '2'],
 ['Chad', '2'],
 ['Chile', '7'],
 ['China', '56'],
 ['Colombia', '9'],
 ['Congo', '1'],
 ['Costa Rica', '4'],
 ["Côte d'Ivoire", '5'],
 ['Croatia', '10'],
 ['Cuba', '9'],
 ['Cyprus', '3'],
 ['Czechia', '16'],
 ["Democratic People's Republic of Korea", '2'],
 ['Democratic Republic of the Congo', '5'],
 ['Denmark', '10'],
 ['Dominica', '1'],
 ['Dominican Republic', '1'],
 ['Ecuador', '5'],
 ['Egypt', '7'],
 ['El Salvador', '1'],
 ['Eritrea', '1'],
 ['Estonia', '2'],
 ['Ethiopia', '9'],
 ['Fiji', '1'],
 ['Finland', '7'],
 ['France', '49'],
 ['Gabon', '2'],
 ['Gambia', '2'],
 ['Georgia', '4'],
 ['Germany', '51'],
 ['Ghana', '2'],
 ['Greece', '18'],
 ['Guatemala', '3'],
 ['Guinea', '1'],
 ['Haiti', '1'],
 ['Holy See', '2'],
 ['Honduras', '2'],
 ['Hungary', '8'],
 ['Iceland', '3'],
 ['India', '40'],
 ['Indonesia', '9'],
 ['Iran (Islamic Republic of)', '26'],
 ['Iraq', '6'],
 ['Ireland', '2'],
 ['Israel', '9'],
 ['Italy', '58'],
 ['Jamaica', '1'],
 ['Japan', '25'],
 ['Jordan', '6'],
 ['Kazakhstan', '5'],
 ['Kenya', '7'],
 ['Kiribati', '1'],
 ['Kyrgyzstan', '3'],
 ["Lao People's Democratic Republic", '3'],
 ['Latvia', '2'],
 ['Lebanon', '6'],
 ['Lesotho', '1'],
 ['Libya', '5'],
 ['Lithuania', '4'],
 ['Luxembourg', '1'],
 ['Madagascar', '3'],
 ['Malawi', '2'],
 ['Malaysia', '4'],
 ['Mali', '4'],
 ['Malta', '3'],
 ['Marshall Islands', '1'],
 ['Mauritania', '2'],
 ['Mauritius', '2'],
 ['Mexico', '35'],
 ['Micronesia (Federated States of)', '1'],
 ['Mongolia', '5'],
 ['Montenegro', '4'],
 ['Morocco', '9'],
 ['Mozambique', '1'],
 ['Myanmar', '2'],
 ['Namibia', '2'],
 ['Nepal', '4'],
 ['Netherlands', '12'],
 ['New Zealand', '3'],
 ['Nicaragua', '2'],
 ['Niger', '3'],
 ['Nigeria', '2'],
 ['North Macedonia', '2'],
 ['Norway', '8'],
 ['Oman', '5'],
 ['Pakistan', '6'],
 ['Palau', '1'],
 ['Palestine', '3'],
 ['Panama', '5'],
 ['Papua New Guinea', '1'],
 ['Paraguay', '1'],
 ['Peru', '13'],
 ['Philippines', '6'],
 ['Poland', '17'],
 ['Portugal', '17'],
 ['Qatar', '1'],
 ['Republic of Korea', '15'],
 ['Republic of Moldova', '1'],
 ['Romania', '9'],
 ['Russian Federation', '30'],
 ['Saint Kitts and Nevis', '1'],
 ['Saint Lucia', '1'],
 ['San Marino', '1'],
 ['Saudi Arabia', '6'],
 ['Senegal', '7'],
 ['Serbia', '5'],
 ['Seychelles', '2'],
 ['Singapore', '1'],
 ['Slovakia', '8'],
 ['Slovenia', '5'],
 ['Solomon Islands', '1'],
 ['South Africa', '10'],
 ['Spain', '49'],
 ['Sri Lanka', '8'],
 ['Sudan', '3'],
 ['Suriname', '2'],
 ['Sweden', '15'],
 ['Switzerland', '13'],
 ['Syrian Arab Republic', '6'],
 ['Tajikistan', '2'],
 ['Thailand', '6'],
 ['Togo', '1'],
 ['Tunisia', '8'],
 ['Türkiye', '19'],
 ['Turkmenistan', '3'],
 ['Uganda', '3'],
 ['Ukraine', '8'],
 ['United Arab Emirates', '1'],
 ['United Kingdom of Great Britain and Northern Ireland', '33'],
 ['United Republic of Tanzania', '7'],
 ['United States of America', '24'],
 ['Uruguay', '3'],
 ['Uzbekistan', '5'],
 ['Vanuatu', '1'],
 ['Venezuela (Bolivarian Republic of)', '3'],
 ['Viet Nam', '8'],
 ['Yemen', '5'],
 ['Zambia', '1'],
 ['Zimbabwe', '5']]

In [32]:
name=[]
number=[]
for i in u:
    name.append(i[0])
    number.append(i[1])
number

['2',
 '4',
 '7',
 '1',
 '1',
 '1',
 '11',
 '3',
 '20',
 '12',
 '3',
 '3',
 '3',
 '1',
 '4',
 '15',
 '1',
 '2',
 '7',
 '4',
 '2',
 '23',
 '10',
 '3',
 '1',
 '3',
 '2',
 '20',
 '2',
 '2',
 '7',
 '56',
 '9',
 '1',
 '4',
 '5',
 '10',
 '9',
 '3',
 '16',
 '2',
 '5',
 '10',
 '1',
 '1',
 '5',
 '7',
 '1',
 '1',
 '2',
 '9',
 '1',
 '7',
 '49',
 '2',
 '2',
 '4',
 '51',
 '2',
 '18',
 '3',
 '1',
 '1',
 '2',
 '2',
 '8',
 '3',
 '40',
 '9',
 '26',
 '6',
 '2',
 '9',
 '58',
 '1',
 '25',
 '6',
 '5',
 '7',
 '1',
 '3',
 '3',
 '2',
 '6',
 '1',
 '5',
 '4',
 '1',
 '3',
 '2',
 '4',
 '4',
 '3',
 '1',
 '2',
 '2',
 '35',
 '1',
 '5',
 '4',
 '9',
 '1',
 '2',
 '2',
 '4',
 '12',
 '3',
 '2',
 '3',
 '2',
 '2',
 '8',
 '5',
 '6',
 '1',
 '3',
 '5',
 '1',
 '1',
 '13',
 '6',
 '17',
 '17',
 '1',
 '15',
 '1',
 '9',
 '30',
 '1',
 '1',
 '1',
 '6',
 '7',
 '5',
 '2',
 '1',
 '8',
 '5',
 '1',
 '10',
 '49',
 '8',
 '3',
 '2',
 '15',
 '13',
 '6',
 '2',
 '6',
 '1',
 '8',
 '19',
 '3',
 '3',
 '8',
 '1',
 '33',
 '7',
 '24',
 '3',
 '5',
 '1',
 '3',
 '8',
 '5',
 '1',
 '5']

In [33]:
name

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (Federated States of)',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Romania',
 'Russian Federation',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'Togo',
 'Tunisia',
 'Türkiye',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [34]:
unesco_sites = pd.DataFrame({'country': name, 'number': number})
unesco_sites

                                country number
0                           Afghanistan      2
1                               Albania      4
2                               Algeria      7
3                               Andorra      1
4                                Angola      1
..                                  ...    ...
162  Venezuela (Bolivarian Republic of)      3
163                            Viet Nam      8
164                               Yemen      5
165                              Zambia      1
166                            Zimbabwe      5

[167 rows x 2 columns]

In [35]:
unesco_sites['country'] = unesco_sites['country'].str.lower()
unesco_sites

                                country number
0                           afghanistan      2
1                               albania      4
2                               algeria      7
3                               andorra      1
4                                angola      1
..                                  ...    ...
162  venezuela (bolivarian republic of)      3
163                            viet nam      8
164                               yemen      5
165                              zambia      1
166                            zimbabwe      5

[167 rows x 2 columns]

In [36]:
import re

unesco_sites['country'] = unesco_sites['country'].str.replace(r'\s*\([^)]*\)', '', regex=True)

unesco_sites

         country number
0    afghanistan      2
1        albania      4
2        algeria      7
3        andorra      1
4         angola      1
..           ...    ...
162    venezuela      3
163     viet nam      8
164        yemen      5
165       zambia      1
166     zimbabwe      5

[167 rows x 2 columns]

In [37]:
data_type = unesco_sites['number'].dtype
data_type

dtype('O')

In [38]:
unesco_sites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  167 non-null    object
 1   number   167 non-null    object
dtypes: object(2)
memory usage: 2.7+ KB

In [39]:
unesco_sites['number'] = pd.to_numeric(unesco_sites['number'], errors='coerce')
unesco_sites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  167 non-null    object
 1   number   167 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.7+ KB

In [40]:
unesco_sites= unesco_sites.sort_values(by='number', ascending=False)
unesco_sites.head(20)

                                               country  number
73                                               italy      58
31                                               china      56
57                                             germany      51
53                                              france      49
140                                              spain      49
67                                               india      40
96                                              mexico      35
156  united kingdom of great britain and northern i...      33
127                                 russian federation      30
69                                                iran      26
75                                               japan      25
158                           united states of america      24
21                                              brazil      23
27                                              canada      20
8                                            australia      20
151                                            türkiye      19
59                                              greece      18
121                                             poland      17
122                                           portugal      17
39                                             czechia      16

In [41]:
unesco_sites.reset_index(drop=True, inplace=True)
unesco_sites.head(30)

                                              country  number
0                                               italy      58
1                                               china      56
2                                             germany      51
3                                              france      49
4                                               spain      49
5                                               india      40
6                                              mexico      35
7   united kingdom of great britain and northern i...      33
8                                  russian federation      30
9                                                iran      26
10                                              japan      25
11                           united states of america      24
12                                             brazil      23
13                                             canada      20
14                                          australia      20
15                                            türkiye      19
16                                             greece      18
17                                             poland      17
18                                           portugal      17
19                                            czechia      16
20                                  republic of korea      15
21                                            belgium      15
22                                             sweden      15
23                                        switzerland      13
24                                               peru      13
25                                        netherlands      12
26                                            austria      12
27                                          argentina      11
28                                       south africa      10
29                                           bulgaria      10

In [42]:
unesco_sites['country'] = unesco_sites['country'].replace({
    'türkiye': 'turkey',
    'republic of korea': 'south korea',
    'republic of moldova': 'moldova',
    'russian federation': 'russia',
    'united kingdom of great britain and northern ireland': 'united kingdom',
    'viet nam': 'vietnam',
    "côte d'ivoire": 'ivory coast'
})
unesco_sites.head(50)

                     country  number
0                      italy      58
1                      china      56
2                    germany      51
3                     france      49
4                      spain      49
5                      india      40
6                     mexico      35
7             united kingdom      33
8                     russia      30
9                       iran      26
10                     japan      25
11  united states of america      24
12                    brazil      23
13                    canada      20
14                 australia      20
15                    turkey      19
16                    greece      18
17                    poland      17
18                  portugal      17
19                   czechia      16
20               south korea      15
21                   belgium      15
22                    sweden      15
23               switzerland      13
24                      peru      13
25               netherlands      12
26                   austria      12
27                 argentina      11
28              south africa      10
29                  bulgaria      10
30                   denmark      10
31                   croatia      10
32                 indonesia       9
33                  colombia       9
34                  ethiopia       9
35                    israel       9
36                      cuba       9
37                   romania       9
38                   morocco       9
39                   vietnam       8
40                    norway       8
41                   tunisia       8
42                  slovakia       8
43                   hungary       8
44                 sri lanka       8
45                   ukraine       8
46                   senegal       7
47                     chile       7
48                     kenya       7
49                     egypt       7

In [43]:
unesco_sites['country'] = unesco_sites['country'].replace({'south Korea': 'south korea'})

In [44]:
unesco_sites['country'] = unesco_sites['country'].replace({'czechia':'czech republic'})

In [45]:
unesco_sites.head(5)

   country  number
0    italy      58
1    china      56
2  germany      51
3   france      49
4    spain      49

In [46]:
unesco_sites['unesco_ranking'] = unesco_sites['number'].rank(ascending=False, method='dense').astype(int)
unesco_sites = unesco_sites[['country','unesco_ranking','number']]
unesco_sites.head(40)

                     country  unesco_ranking  number
0                      italy               1      58
1                      china               2      56
2                    germany               3      51
3                     france               4      49
4                      spain               4      49
5                      india               5      40
6                     mexico               6      35
7             united kingdom               7      33
8                     russia               8      30
9                       iran               9      26
10                     japan              10      25
11  united states of america              11      24
12                    brazil              12      23
13                    canada              13      20
14                 australia              13      20
15                    turkey              14      19
16                    greece              15      18
17                    poland              16      17
18                  portugal              16      17
19            czech republic              17      16
20               south korea              18      15
21                   belgium              18      15
22                    sweden              18      15
23               switzerland              19      13
24                      peru              19      13
25               netherlands              20      12
26                   austria              20      12
27                 argentina              21      11
28              south africa              22      10
29                  bulgaria              22      10
30                   denmark              22      10
31                   croatia              22      10
32                 indonesia              23       9
33                  colombia              23       9
34                  ethiopia              23       9
35                    israel              23       9
36                      cuba              23       9
37                   romania              23       9
38                   morocco              23       9
39                   vietnam              24       8

# Extract of World Economic Forum Travel & Tourism Development Index (CSV)

In [47]:
wef_extract = pd.read_csv('wef_rankings.csv',delimiter=';')

In [48]:
wef_extract

,Economy,Region,Sub Region,Income Group,hygiene_score,hygiene_rank,affordability_score,affordability_rank,natural_resources_score,natural_resources_rank,infraestructure_score,infraestructure_rank,ict_score,ict_rank,sustainability_score,sustainability_rank
0,Japan,Asia-Pacific,Eastern Asia-Pacific,High-income economies,"6,1",9,"4,2",96,"4,9",12,"5,5",3,"5,8",29,"4,3",38
1,United States,The Americas,North and Central America,High-income economies,"5,3",48,"3,6",110,"6,2",4,"5,4",4,"6,1",7,"4,1",56
2,Spain,Europe and Eurasia,Southern Europe,High-income economies,"5,8",25,"4,4",90,"5,1",11,"5,5",2,"5,9",17,"4,3",39
3,France,Europe and Eurasia,Western Europe,High-income economies,"6,2",6,"4,0",101,"5,4",9,"5,4",5,"5,9",20,"4,7",14
4,Germany,Europe and Eurasia,Western Europe,High-income economies,"6,5",2,"4,1",98,"3,4",32,"5,1",12,"5,7",34,"4,7",13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Angola,Sub-saharan Africa,Southern Africa,Upper-middle-income economies,"2,2",112,"6,2",4,"3,0",43,"2,1",114,"3,4",109,"3,6",100
113,Sierra Leone,Sub-saharan Africa,Western Africa,Low-income economies,"1,6",116,"5,0",76,"1,8",89,"1,9",115,"2,3",116,"3,7",96
114,Mali,Sub-saharan Africa,Western Africa,Upper-middle-income economies,"2,5",105,"4,8",81,"2,4",68,"2,2",110,"3,1",112,"4,0",61
115,Yemen,Middle East and North Africa,Middle East,Low-income economies,"2,6",104,"6,2",9,"2,2",74,"1,7",117,"2,9",114,"2,9",117
116,Chad,Sub-saharan Africa,Western Africa,Lower-middle income economies,"1,6",117,"5,1",71,"2,7",57,"1,7",116,"2,1",117,"4,0",66

In [49]:
wef_extract['Economy'] = wef_extract['Economy'].str.lower()

In [50]:
wef_extract.rename(columns={'Economy': 'country'}, inplace=True)
wef_extract.rename(columns={'Region': 'region'}, inplace=True)
wef_extract.rename(columns={'Sub Region': 'sub_region'}, inplace=True)
wef_extract.rename(columns={'Income Group': 'income_group'}, inplace=True)

In [51]:
wef_extract['region'] = wef_extract['region'].str.lower()
wef_extract['sub_region'] = wef_extract['sub_region'].str.lower()
wef_extract['income_group'] = wef_extract['income_group'].str.lower()

In [52]:
wef_extract.head(22)

,country,region,sub_region,income_group,hygiene_score,hygiene_rank,affordability_score,affordability_rank,natural_resources_score,natural_resources_rank,infraestructure_score,infraestructure_rank,ict_score,ict_rank,sustainability_score,sustainability_rank
0,japan,asia-pacific,eastern asia-pacific,high-income economies,"6,1",9,"4,2",96,"4,9",12,"5,5",3,"5,8",29,"4,3",38
1,united states,the americas,north and central america,high-income economies,"5,3",48,"3,6",110,"6,2",4,"5,4",4,"6,1",7,"4,1",56
2,spain,europe and eurasia,southern europe,high-income economies,"5,8",25,"4,4",90,"5,1",11,"5,5",2,"5,9",17,"4,3",39
3,france,europe and eurasia,western europe,high-income economies,"6,2",6,"4,0",101,"5,4",9,"5,4",5,"5,9",20,"4,7",14
4,germany,europe and eurasia,western europe,high-income economies,"6,5",2,"4,1",98,"3,4",32,"5,1",12,"5,7",34,"4,7",13
5,switzerland,europe and eurasia,western europe,high-income economies,"6,3",5,"2,8",115,"3,0",44,"5,6",1,"6,2",6,"5,2",3
6,australia,asia-pacific,eastern asia-pacific,high-income economies,"5,9",21,"3,6",112,"6,4",1,"4,8",17,"5,9",16,"4,0",65
7,united kingdom,europe and eurasia,western europe,high-income economies,"5,9",17,"2,8",116,"3,6",29,"5,2",8,"5,9",15,"4,9",8
8,singapore,asia-pacific,south-east asia,high-income economies,"5,3",47,"4,9",79,"1,6",101,"5,3",6,"6,0",13,"4,0",58
9,italy,europe and eurasia,southern europe,high-income economies,"6,0",16,"4,0",100,"4,8",15,"5,1",11,"5,5",42,"4,3",40
10,austria,europe and eurasia,western europe,high-income economies,"6,8",1,"4,0",102,"2,9",46,"5,3",7,"5,8",26,"5,1",5
11,china,asia-pacific,eastern asia-pacific,upper-middle-income economies,"5,1",53,"5,4",44,"6,2",5,"4,4",27,"5,8",28,"3,8",84
12,canada,the americas,north and central america,high-income economies,"5,2",49,"4,3",91,"5,7",7,"4,7",20,"5,9",24,"4,4",29
13,netherlands,europe and eurasia,western europe,high-income economies,"5,9",23,"3,9",103,"2,6",62,"5,1",10,"6,3",1,"4,8",9
14,south korea,asia-pacific,eastern asia-pacific,high-income economies,"6,1",10,"4,8",82,"2,3",70,"5,0",14,"6,2",5,"4,0",63
15,portugal,europe and eurasia,southern europe,high-income economies,"6,0",14,"4,2",95,"3,5",31,"5,1",13,"5,7",31,"4,2",44
16,denmark,europe and eurasia,northern europe,high-income economies,"5,9",20,"3,8",107,"2,7",55,"4,9",15,"6,2",3,"5,1",6
17,finland,europe and eurasia,northern europe,high-income economies,"6,2",8,"3,8",105,"2,4",67,"4,2",36,"6,3",2,"5,3",2
18,hong kong,asia-pacific,eastern asia-pacific,high-income economies,"5,6",35,"3,6",113,"1,2",114,"5,2",9,"6,1",10,"4,6",18
19,sweden,europe and eurasia,northern europe,high-income economies,"5,7",29,"3,8",108,"2,8",50,"4,2",33,"6,1",11,"5,4",1
20,luxembourg,europe and eurasia,western europe,high-income economies,"5,9",22,"4,1",97,"1,3",113,"4,7",18,"6,1",9,"4,9",7
21,belgium,europe and eurasia,western europe,high-income economies,"6,4",4,"4,1",99,"1,9",87,"4,5",24,"5,9",25,"4,4",31

In [53]:
names= wef_extract['country'].unique()
names

array(['japan', 'united states', 'spain', 'france', 'germany',
       'switzerland', 'australia', 'united kingdom', 'singapore', 'italy',
       'austria', 'china', 'canada', 'netherlands', 'south korea',
       'portugal', 'denmark', 'finland', 'hong kong ', 'sweden',
       'luxembourg', 'belgium', 'iceland', 'ireland',
       'united arab emirates', 'czech republic', 'new zealand', 'greece',
       'estonia', 'poland', 'cyprus', 'indonesia', 'saudi arabia',
       'chile', 'malta', 'thailand', 'hungary', 'malaysia', 'slovenia',
       'mexico', 'bulgaria', 'lithuania', 'qatar', 'georgia', 'turkey',
       'croatia', 'israel', 'latvia', 'brazil', 'costa rica', 'egypt',
       'vietnam', 'romania', 'india', 'uruguay', 'slovak republic',
       'bahrain', 'colombia', 'argentina', 'panama', 'armenia',
       'mauritius', 'azerbaijan', 'jordan', 'peru', 'kazakhstan',
       'montenegro', 'south africa', 'dominican republic', 'serbia',
       'morocco', 'albania', 'ecuador', 'sri lanka', 'philippines',
       'botswana', 'moldova', 'kenya', 'cambodia', 'tunisia', 'tanzania',
       'cape verde', 'pakistan', 'mongolia', 'trinidad and tobago',
       'kuwait', 'north macedonia', 'namibia', 'rwanda',
       'kyrgyz republic', 'bolivia', 'tajikistan', 'lao pdr', 'lebanon',
       'bosnia and herzegovina', 'el salvador', 'guatemala', 'zambia',
       'paraguay', 'bangladesh', 'ghana', 'nepal', 'benin', 'nicaragua',
       'senegal', 'honduras', "côte d'ivoire", 'venezuela', 'malawi',
       'nigeria', 'lesotho', 'cameroon', 'angola', 'sierra leone', 'mali',
       'yemen', 'chad'], dtype=object)

In [54]:
a = visits['country'].unique()
a

array(['france', 'spain', 'united states', 'china', 'italy', 'turkey',
       'mexico', 'thailand', 'germany', 'united kingdom', 'japan',
       'austria', 'greece', 'malaysia', 'portugal', 'russia', 'hong kong',
       'poland', 'canada', 'netherlands', 'vietnam', 'india',
       'south korea', 'croatia', 'hungary', 'united arab emirates',
       'indonesia', 'singapore', 'czech republic', 'ukraine',
       'saudi arabia', 'denmark', 'morocco', 'taiwan', 'switzerland',
       'egypt', 'ireland', 'south africa', 'australia', 'tunisia',
       'belgium', 'bulgaria', 'philippines', 'argentina', 'sweden',
       'iran', 'kyrgyzstan', 'uzbekistan', 'cambodia'], dtype=object)

In [55]:
b = travel_safety['country'].unique()
b

array(['iceland', 'denmark', 'french polynesia', 'austria', 'bermuda',
       'new zealand', 'aruba', 'gibraltar', 'singapore', 'switzerland',
       'british virgin islands', 'liechtenstein', 'czech republic',
       'canada', 'monaco', 'slovenia', 'finland', 'australia', 'germany',
       'norway', 'poland', 'qatar', 'ireland', 'japan', 'spain', 'sweden',
       'croatia', 'hungary', 'south korea', 'estonia', 'romania',
       'barbados', 'bulgaria', 'brunei', 'slovakia', 'bonaire',
       'mauritius', 'latvia', 'nauru', 'dominica', 'palau', 'grenada',
       'greenland', 'seychelles', 'curacao', 'chile', 'lithuania',
       'united arab emirates', 'malta', 'belarus', 'botswana', 'uruguay',
       'serbia', 'italy', 'united kingdom', 'oman', 'cyprus',
       'netherlands', 'albania', 'luxembourg', 'vietnam', 'ghana',
       'greece', 'kazakhstan', 'namibia', 'mongolia', 'fiji',
       'saint kitts and nevis', 'saint lucia', 'vanuatu', 'tonga',
       'bhutan', 'montserrat', 'samoa', 'anguilla', 'belgium',
       'montenegro', 'argentina', 'malaysia', 'gambia', 'togo',
       'united states', 'equatorial guinea', 'cambodia', 'moldova',
       'kuwait', 'china', 'panama', 'mexico', 'costa rica', 'france',
       'georgia', 'suriname', 'sri lanka', 'israel', 'armenia',
       'tanzania', 'nepal', 'indonesia', 'bolivia', 'portugal',
       'macedonia', 'sudan', 'jamaica', 'ecuador',
       'republic of the congo', 'taiwan', 'morocco', 'dominican republic',
       'tunisia', 'zimbabwe', 'malawi', 'guatemala', 'jordan', 'zambia',
       'brazil', 'laos', 'azerbaijan', 'sierra leone', 'cayman islands',
       'el salvador', 'peru', 'the bahamas', 'honduras', 'madagascar',
       'uganda', 'bangladesh', 'timor-leste', 'angola', 'south africa',
       'thailand', 'bosnia and herzegovina', 'lesotho', 'eswatini',
       'papua new guinea', 'philippines', 'india', 'cuba', 'bahrain',
       'nicaragua', 'maldives', 'saudi arabia', 'mozambique', 'gabon',
       'paraguay', 'kenya', 'liberia', 'benin', 'turkey', 'senegal',
       'algeria', 'kosovo', 'trinidad and tobago', 'belize', 'guyana',
       'colombia', 'turkmenistan', 'haiti', 'burkina faso', 'ethiopia',
       'uzbekistan', 'myanmar', 'guinea', 'djibouti', 'tajikistan',
       'kyrgyz republic', 'egypt', 'ivory coast', 'niger', 'rwanda',
       'guinea-bissau', 'cameroon', 'lebanon', 'mauritania', 'iran',
       'russia', 'puerto rico', 'venezuela', 'nigeria', 'chad', 'eritrea',
       'central african republic', 'mali', 'ukraine', 'burundi',
       'pakistan', 'libya', 'north korea',
       'democratic republic of the congo', 'somalia', 'afghanistan',
       'iraq', 'south sudan', 'yemen', 'syria'], dtype=object)

In [56]:
c = unesco_sites['country'].unique()
c

array(['italy', 'china', 'germany', 'france', 'spain', 'india', 'mexico',
       'united kingdom', 'russia', 'iran', 'japan',
       'united states of america', 'brazil', 'canada', 'australia',
       'turkey', 'greece', 'poland', 'portugal', 'czech republic',
       'south korea', 'belgium', 'sweden', 'switzerland', 'peru',
       'netherlands', 'austria', 'argentina', 'south africa', 'bulgaria',
       'denmark', 'croatia', 'indonesia', 'colombia', 'ethiopia',
       'israel', 'cuba', 'romania', 'morocco', 'vietnam', 'norway',
       'tunisia', 'slovakia', 'hungary', 'sri lanka', 'ukraine',
       'senegal', 'chile', 'kenya', 'egypt',
       'united republic of tanzania', 'bolivia', 'finland', 'algeria',
       'jordan', 'lebanon', 'pakistan', 'philippines', 'saudi arabia',
       'syrian arab republic', 'thailand', 'iraq', 'mongolia', 'oman',
       'panama', 'libya', 'kazakhstan', 'serbia', 'slovenia',
       'uzbekistan', 'yemen', 'zimbabwe', 'ecuador',
       'democratic republic of the congo', 'ivory coast', 'albania',
       'malaysia', 'bosnia and herzegovina', 'belarus', 'lithuania',
       'georgia', 'montenegro', 'mali', 'nepal', 'costa rica',
       'palestine', 'cambodia', 'new zealand', 'niger', 'sudan', 'cyprus',
       'burkina faso', 'iceland', 'malta',
       "lao people's democratic republic", 'venezuela', 'uruguay',
       'armenia', 'azerbaijan', 'bahrain', 'bangladesh', 'kyrgyzstan',
       'uganda', 'turkmenistan', 'guatemala', 'madagascar', 'cameroon',
       'central african republic', 'tajikistan', 'seychelles', 'chad',
       'suriname', "democratic people's republic of korea", 'botswana',
       'benin', 'ireland', 'gambia', 'nigeria', 'honduras', 'holy see',
       'latvia', 'malawi', 'mauritania', 'mauritius', 'ghana', 'myanmar',
       'namibia', 'gabon', 'nicaragua', 'afghanistan', 'north macedonia',
       'estonia', 'san marino', 'palau', 'lesotho', 'dominican republic',
       'kiribati', 'united arab emirates', 'guinea', 'haiti', 'paraguay',
       'luxembourg', 'antigua and barbuda', 'vanuatu', 'jamaica',
       'angola', 'andorra', 'zambia', 'barbados', 'belize', 'togo',
       'mozambique', 'congo', 'saint kitts and nevis', 'singapore',
       'fiji', 'moldova', 'solomon islands', 'cabo verde', 'saint lucia',
       'papua new guinea', 'micronesia', 'qatar', 'eritrea',
       'marshall islands', 'dominica', 'el salvador'], dtype=object)

# Making country names homogeneous

In [57]:
unesco_sites.loc[unesco_sites['country'] == 'united states of america', 'country'] = 'united states'
unesco_sites['country'].head(20)

0              italy
1              china
2            germany
3             france
4              spain
5              india
6             mexico
7     united kingdom
8             russia
9               iran
10             japan
11     united states
12            brazil
13            canada
14         australia
15            turkey
16            greece
17            poland
18          portugal
19    czech republic
Name: country, dtype: object

In [58]:
visits['country'] = visits['country'].str.strip()
unesco_sites['country'] = unesco_sites['country'].str.strip()
travel_safety['country'] = travel_safety['country'].str.strip()
wef_extract['country'] = wef_extract['country'].str.strip()

In [59]:
unesco_sites.loc[unesco_sites['country'] == "lao people's democratic republic", 'country'] = 'laos'

In [60]:
wef_extract.loc[wef_extract['country'] == "lao pdr", 'country'] = 'laos'

In [61]:
wef_extract.loc[wef_extract['country'] == "côte d'ivoire", 'country'] = 'ivory coast'

In [62]:
unesco_sites.loc[unesco_sites['country'] == "congo", 'country'] = 'republic of the congo'

# Adding the tables into one

In [63]:
tourism_database = visits.merge(unesco_sites, on='country', how='left')
tourism_database.head(10)

          country  arrivals_ranking  arrivals  unesco_ranking  number
0          france                 1  89400000             4.0    49.0
1           spain                 2  83700000             4.0    49.0
2   united states                 3  79300000            11.0    24.0
3           china                 4  65700000             2.0    56.0
4           italy                 5  64500000             1.0    58.0
5          turkey                 6  51200000            14.0    19.0
6          mexico                 7  45000000             6.0    35.0
7        thailand                 8  39800000            26.0     6.0
8         germany                 9  39600000             3.0    51.0
9  united kingdom                10  39400000             7.0    33.0

In [66]:
tourism_database.drop('unesco_ranking', axis=1, inplace=True)

KeyError: "['unesco_ranking'] not found in axis"

In [67]:
tourism_database.drop('arrivals_ranking', axis=1, inplace=True)

In [65]:
tourism_database.rename(columns={'number': 'unesco_sites'}, inplace=True)
tourism_database

                 country  arrivals_ranking  arrivals  unesco_sites
0                 france                 1  89400000          49.0
1                  spain                 2  83700000          49.0
2          united states                 3  79300000          24.0
3                  china                 4  65700000          56.0
4                  italy                 5  64500000          58.0
5                 turkey                 6  51200000          19.0
6                 mexico                 7  45000000          35.0
7               thailand                 8  39800000           6.0
8                germany                 9  39600000          51.0
9         united kingdom                10  39400000          33.0
10                 japan                11  32300000          25.0
11               austria                12  31900000          12.0
12                greece                13  31300000          18.0
13              malaysia                14  26100000           4.0
14              portugal                15  24600000          17.0
15                russia                16  24400000          30.0
16             hong kong                17  23800000           NaN
17                poland                18  22100000          17.0
18                canada                18  22100000          20.0
19           netherlands                19  20100000          12.0
20               vietnam                20  18000000           8.0
21                 india                21  17900000          40.0
22           south korea                22  17500000          15.0
23               croatia                23  17400000          10.0
24               hungary                24  16900000           8.0
25  united arab emirates                25  16700000           1.0
26             indonesia                26  15500000           9.0
27             singapore                27  15100000           1.0
28        czech republic                28  14300000          16.0
29               ukraine                29  14200000           8.0
30          saudi arabia                30  13600000           6.0
31               denmark                31  13300000          10.0
32               morocco                32  12900000           9.0
33                taiwan                33  11900000           NaN
34           switzerland                34  11800000          13.0
35                 egypt                35  11300000           7.0
36               ireland                36  10900000           2.0
37          south africa                37  10200000          10.0
38             australia                38   9500000          20.0
39               tunisia                39   9400000           8.0
40               belgium                40   9300000          15.0
41              bulgaria                40   9300000          10.0
42           philippines                41   8300000           6.0
43             argentina                42   7400000          11.0
44                sweden                42   7400000          15.0
45                  iran                43   7300000          26.0
46            kyrgyzstan                44   6900000           3.0
47            uzbekistan                45   6700000           5.0
48              cambodia                46   6600000           3.0

In [68]:
tourism_database

                 country  arrivals  unesco_sites
0                 france  89400000          49.0
1                  spain  83700000          49.0
2          united states  79300000          24.0
3                  china  65700000          56.0
4                  italy  64500000          58.0
5                 turkey  51200000          19.0
6                 mexico  45000000          35.0
7               thailand  39800000           6.0
8                germany  39600000          51.0
9         united kingdom  39400000          33.0
10                 japan  32300000          25.0
11               austria  31900000          12.0
12                greece  31300000          18.0
13              malaysia  26100000           4.0
14              portugal  24600000          17.0
15                russia  24400000          30.0
16             hong kong  23800000           NaN
17                poland  22100000          17.0
18                canada  22100000          20.0
19           netherlands  20100000          12.0
20               vietnam  18000000           8.0
21                 india  17900000          40.0
22           south korea  17500000          15.0
23               croatia  17400000          10.0
24               hungary  16900000           8.0
25  united arab emirates  16700000           1.0
26             indonesia  15500000           9.0
27             singapore  15100000           1.0
28        czech republic  14300000          16.0
29               ukraine  14200000           8.0
30          saudi arabia  13600000           6.0
31               denmark  13300000          10.0
32               morocco  12900000           9.0
33                taiwan  11900000           NaN
34           switzerland  11800000          13.0
35                 egypt  11300000           7.0
36               ireland  10900000           2.0
37          south africa  10200000          10.0
38             australia   9500000          20.0
39               tunisia   9400000           8.0
40               belgium   9300000          15.0
41              bulgaria   9300000          10.0
42           philippines   8300000           6.0
43             argentina   7400000          11.0
44                sweden   7400000          15.0
45                  iran   7300000          26.0
46            kyrgyzstan   6900000           3.0
47            uzbekistan   6700000           5.0
48              cambodia   6600000           3.0

In [69]:
tourism_database = tourism_database.merge(wef_extract, on='country', how='left')
tourism_database.head(10)

,country,arrivals,unesco_sites,region,sub_region,income_group,hygiene_score,hygiene_rank,affordability_score,affordability_rank,natural_resources_score,natural_resources_rank,infraestructure_score,infraestructure_rank,ict_score,ict_rank,sustainability_score,sustainability_rank
0,france,89400000,49.0,europe and eurasia,western europe,high-income economies,"6,2",6.0,"4,0",101.0,"5,4",9.0,"5,4",5.0,"5,9",20.0,"4,7",14.0
1,spain,83700000,49.0,europe and eurasia,southern europe,high-income economies,"5,8",25.0,"4,4",90.0,"5,1",11.0,"5,5",2.0,"5,9",17.0,"4,3",39.0
2,united states,79300000,24.0,the americas,north and central america,high-income economies,"5,3",48.0,"3,6",110.0,"6,2",4.0,"5,4",4.0,"6,1",7.0,"4,1",56.0
3,china,65700000,56.0,asia-pacific,eastern asia-pacific,upper-middle-income economies,"5,1",53.0,"5,4",44.0,"6,2",5.0,"4,4",27.0,"5,8",28.0,"3,8",84.0
4,italy,64500000,58.0,europe and eurasia,southern europe,high-income economies,"6,0",16.0,"4,0",100.0,"4,8",15.0,"5,1",11.0,"5,5",42.0,"4,3",40.0
5,turkey,51200000,19.0,europe and eurasia,southern europe,upper-middle-income economies,"4,8",63.0,"6,0",18.0,"2,8",49.0,"4,4",29.0,"5,2",52.0,"3,6",102.0
6,mexico,45000000,35.0,the americas,north and central america,upper-middle-income economies,"4,8",60.0,"5,1",70.0,"6,3",2.0,"3,8",48.0,"5,0",61.0,"3,6",103.0
7,thailand,39800000,6.0,asia-pacific,south-east asia,upper-middle-income economies,"4,3",74.0,"5,6",39.0,"4,9",14.0,"4,4",28.0,"5,4",50.0,"3,6",97.0
8,germany,39600000,51.0,europe and eurasia,western europe,high-income economies,"6,5",2.0,"4,1",98.0,"3,4",32.0,"5,1",12.0,"5,7",34.0,"4,7",13.0
9,united kingdom,39400000,33.0,europe and eurasia,western europe,high-income economies,"5,9",17.0,"2,8",116.0,"3,6",29.0,"5,2",8.0,"5,9",15.0,"4,9",8.0

In [70]:
tourism_database = tourism_database.merge(travel_safety, on='country', how='left')
tourism_database

,country,arrivals,unesco_sites,region,sub_region,income_group,hygiene_score,hygiene_rank,affordability_score,affordability_rank,natural_resources_score,natural_resources_rank,infraestructure_score,infraestructure_rank,ict_score,ict_rank,sustainability_score,sustainability_rank,safety_ranking,safety_index
0,france,89400000,49.0,europe and eurasia,western europe,high-income economies,"6,2",6.0,"4,0",101.0,"5,4",9.0,"5,4",5.0,"5,9",20.0,"4,7",14.0,29.0,64.0
1,spain,83700000,49.0,europe and eurasia,southern europe,high-income economies,"5,8",25.0,"4,4",90.0,"5,1",11.0,"5,5",2.0,"5,9",17.0,"4,3",39.0,11.0,83.0
2,united states,79300000,24.0,the americas,north and central america,high-income economies,"5,3",48.0,"3,6",110.0,"6,2",4.0,"5,4",4.0,"6,1",7.0,"4,1",56.0,25.0,68.0
3,china,65700000,56.0,asia-pacific,eastern asia-pacific,upper-middle-income economies,"5,1",53.0,"5,4",44.0,"6,2",5.0,"4,4",27.0,"5,8",28.0,"3,8",84.0,27.0,66.0
4,italy,64500000,58.0,europe and eurasia,southern europe,high-income economies,"6,0",16.0,"4,0",100.0,"4,8",15.0,"5,1",11.0,"5,5",42.0,"4,3",40.0,16.0,77.0
5,turkey,51200000,19.0,europe and eurasia,southern europe,upper-middle-income economies,"4,8",63.0,"6,0",18.0,"2,8",49.0,"4,4",29.0,"5,2",52.0,"3,6",102.0,46.0,45.0
6,mexico,45000000,35.0,the americas,north and central america,upper-middle-income economies,"4,8",60.0,"5,1",70.0,"6,3",2.0,"3,8",48.0,"5,0",61.0,"3,6",103.0,28.0,65.0
7,thailand,39800000,6.0,asia-pacific,south-east asia,upper-middle-income economies,"4,3",74.0,"5,6",39.0,"4,9",14.0,"4,4",28.0,"5,4",50.0,"3,6",97.0,43.0,48.0
8,germany,39600000,51.0,europe and eurasia,western europe,high-income economies,"6,5",2.0,"4,1",98.0,"3,4",32.0,"5,1",12.0,"5,7",34.0,"4,7",13.0,9.0,85.0
9,united kingdom,39400000,33.0,europe and eurasia,western europe,high-income economies,"5,9",17.0,"2,8",116.0,"3,6",29.0,"5,2",8.0,"5,9",15.0,"4,9",8.0,16.0,77.0
10,japan,32300000,25.0,asia-pacific,eastern asia-pacific,high-income economies,"6,1",9.0,"4,2",96.0,"4,9",12.0,"5,5",3.0,"5,8",29.0,"4,3",38.0,11.0,83.0
11,austria,31900000,12.0,europe and eurasia,western europe,high-income economies,"6,8",1.0,"4,0",102.0,"2,9",46.0,"5,3",7.0,"5,8",26.0,"5,1",5.0,3.0,92.0
12,greece,31300000,18.0,europe and eurasia,southern europe,high-income economies,"6,1",11.0,"3,8",106.0,"3,0",42.0,"4,7",19.0,"5,6",37.0,"4,4",33.0,20.0,73.0
13,malaysia,26100000,4.0,asia-pacific,south-east asia,upper-middle-income economies,"4,5",69.0,"6,5",2.0,"3,9",21.0,"4,1",38.0,"5,5",45.0,"3,7",88.0,24.0,69.0
14,portugal,24600000,17.0,europe and eurasia,southern europe,high-income economies,"6,0",14.0,"4,2",95.0,"3,5",31.0,"5,1",13.0,"5,7",31.0,"4,2",44.0,35.0,57.0
15,russia,24400000,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,34.0
16,hong kong,23800000,NaN,asia-pacific,eastern asia-pacific,high-income economies,"5,6",35.0,"3,6",113.0,"1,2",114.0,"5,2",9.0,"6,1",10.0,"4,6",18.0,NaN,NaN
17,poland,22100000,17.0,europe and eurasia,balkans and eastern europe,high-income economies,"5,5",39.0,"5,5",41.0,"2,8",48.0,"4,0",39.0,"5,7",35.0,"4,1",48.0,10.0,84.0
18,canada,22100000,20.0,the americas,north and central america,high-income economies,"5,2",49.0,"4,3",91.0,"5,7",7.0,"4,7",20.0,"5,9",24.0,"4,4",29.0,6.0,88.0
19,netherlands,20100000,12.0,europe and eurasia,western europe,high-income economies,"5,9",23.0,"3,9",103.0,"2,6",62.0,"5,1",10.0,"6,3",1.0,"4,8",9.0,18.0,75.0
20,vietnam,18000000,8.0,asia-pacific,south-east asia,lower-middle income economies,"4,4",73.0,"6,0",15.0,"3,8",24.0,"3,6",58.0,"5,1",54.0,"3,7",94.0,20.0,73.0
21,india,17900000,40.0,asia-pacific,south asia,lower-middle income economies,"3,5",96.0,"5,8",26.0,"5,7",6.0,"3,7",54.0,"4,0",93.0,"3,3",113.0,44.0,47.0
22,south korea,17500000,15.0,asia-pacific,eastern asia-pacific,high-income economies,"6,1",10.0,"4,8",82.0,"2,3",70.0,"5,0",14.0,"6,2",5.0,"4,0",63.0,12.0,82.0
23,croatia,17400000,10.0,europe and eurasia,southern europe,high-income economies,"5,8",27.0,"4,3",92.0,"3,6",30.0,"4,5",21.0,"5,5",43.0,"4,5",25.0,11.0,83.0
24,hungary,16900000,8.0,europe and eurasia,balkans and eastern europe,high-income economies,"6,1",12.0,"5,1",63.0,"2,0",85.0,"4,2",34.0,"5,4",46.0,"4,5",22.0,11.0,83.0
25,united arab emirates,16700000,1.0,middle east and north africa,middle east,high-income economies,"4,9",57.0,"5,1",66.0,"1,8",90.0,"4,8",16.0,"6,1",12.0,"4,0",62.0,14.0,79.0
26,indonesia,15500000,9.0,asia-pacific,south-east asia,lower-middle income economies,"3,9",82.0,"6,0",20.0,"5,5",8.0,"3,7",52.0,"4,9",68.0,"3,9",69.0,34.0,58.0
27,singapore,15100000,1.0,asia-pacific,south-east asia,high-income economies,"5,3",47.0,"4,9",79.0,"1,6",101.0,"5,3",6.0,"6,0",13.0,"4,0",58.0,4.0,90.0
28,czech republic,14300000,16.0,europe and eurasia,western europe,high-income economies,"6,4",3.0,"5,2",61.0,"2,0",83.0,"4,5",22.0,"5,6",39.0,"4,5",24.0,6.0,88.0
29,ukraine,14200000,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,30.0
30,saudi arabia,13600000,6.0,middle east and north africa,middle east,high-income economies,"5,0",54.0,"5,1",69.0,"2,6",60.0,"4,1",37.0,"5,9",18.0,"3,5",106.0,45.0,46.0
31,denmark,13300000,10.0,europe and eurasia,northern europe,high-income economies,"5,9",20.0,"3,8",107.0,"2,7",55.0,"4,9",15.0,"6,2",3.0,"5,1",6.0,2.0,94.0
32,morocco,12900000,9.0,middle east and north africa,north africa,lower-middle income economies,"3,7",85.0,"5,3",60.0,"2,3",71.0,"3,3",69.0,"4,7",73.0,"3,8",77.0,37.0,54.0
33,taiwan,11900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,54.0
34,switzerland,11800000,13.0,europe and eurasia,western europe,high-income economies,"6,3",5.0,"2,8",115.0,"3,0",44.0,"5,6",1.0,"6,2",6.0,"5,2",3.0,5.0,89.0
35,egypt,11300000,7.0,middle east and north africa,north africa,lower-middle income economies,"4,0",80.0,"6,2",6.0,"3,1",40.0,"3,6",56.0,"4,9",69.0,"4,2",42.0,53.0,38.0
36,ireland,10900000,2.0,europe and eurasia,western europe,high-income economies,"5,4",43.0,"3,7",109.0,"2,0",84.0,"4,4",25.0,"5,5",40.0,"4,5",21.0,11.0,83.0
37,south africa,10200000,10.0,sub-saharan africa,southern africa,upper-middle-income economies,"3,5",93.0,"5,5",43.0,"4,9",13.0,"3,4",65.0,"5,1",59.0,"3,4",109.0,43.0,48.0
38,australia,9500000,20.0,asia-pacific,eastern asia-pacific,high-income economies,"5,9",21.0,"3,6",112.0,"6,4",1.0,"4,8",17.0,"5,9",16.0,"4,0",65.0,8.0,86.0
39,tunisia,9400000,8.0,middle east and north africa,north africa,lower-middle income economies,"4,4",71.0,"6,0",13.0,"2,0",82.0,"2,9",86.0,"4,3",86.0,"3,8",85.0,38.0,53.0
40,belgium,9300000,15.0,europe and eurasia,western europe,high-income economies,"6,4",4.0,"4,1",99.0,"1,9",87.0,"4,5",24.0,"5,9",25.0,"4,4",31.0,23.0,70.0
41,bulgaria,9300000,10.0,europe and eurasia,balkans and eastern europe,upper-middle-income economies,"6,0",15.0,"5,7",32.0,"2,8",51.0,"4,0",43.0,"5,4",47.0,"4,6",19.0,13.0,80.0
42,philippines,8300000,6.0,asia-pacific,south-east asia,lower-middle income economies,"3,5",92.0,"5,8",28.0,"3,9",22.0,"3,2",75.0,"4,4",84.0,"3,7",95.0,44.0,47.0
43,argentina,7400000,11.0,the americas,south america,upper-middle-income economies,"5,7",31.0,"5,8",29.0,"4,5",18.0,"3,3",67.0,"5,1",60.0,"3,8",82.0,23.0,70.0
44,sweden,7400000,15.0,europe and eurasia,northern europe,high-income economies,"5,7",29.0,"3,8",108.0,"2,8",50.0,"4,2",33.0,"6,1",11.0,"5,4",1.0,11.0,83.0
45,iran,7300000,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,35.0
46,kyrgyzstan,6900000,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,uzbekistan,6700000,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,40.0
48,cambodia,6600000,3.0,asia-pacific,south-east asia,lower-middle income economies,"3,1",100.0,"5,9",22.0,"2,5",65.0,"2,8",89.0,"4,5",79.0,"3,9",71.0,25.0,68.0

In [72]:
columns_to_drop = ['hygiene_rank', 'affordability_rank', 'natural_resources_rank','infraestructure_rank','ict_rank','sustainability_rank','safety_ranking']
tourism_database.drop(columns=columns_to_drop, inplace=True)

In [74]:
tourism_database.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 0 to 48
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  49 non-null     object
 1   arrivals                 49 non-null     int64
 2   unesco_sites             47 non-null     float64
 3   region                   43 non-null     object
 4   sub_region               43 non-null     object
 5   income_group             43 non-null     object
 6   hygiene_score            43 non-null     object
 7   affordability_score      43 non-null     object
 8   natural_resources_score  43 non-null     object
 9   infraestructure_score    43 non-null     object
 10  ict_score                43 non-null     object
 11  sustainability_score     43 non-null     object
 12  safety_index             47 non-null     float64
dtypes: float64(2), int64(1), object(10)
memory usage: 5.4+ KB

In [76]:
rows_to_drop = [33,45,46,47,15,29]
tourism_database.drop(index=rows_to_drop, inplace=True)

In [77]:
tourism_database

,country,arrivals,unesco_sites,region,sub_region,income_group,hygiene_score,affordability_score,natural_resources_score,infraestructure_score,ict_score,sustainability_score,safety_index
0,france,89400000,49.0,europe and eurasia,western europe,high-income economies,"6,2","4,0","5,4","5,4","5,9","4,7",64.0
1,spain,83700000,49.0,europe and eurasia,southern europe,high-income economies,"5,8","4,4","5,1","5,5","5,9","4,3",83.0
2,united states,79300000,24.0,the americas,north and central america,high-income economies,"5,3","3,6","6,2","5,4","6,1","4,1",68.0
3,china,65700000,56.0,asia-pacific,eastern asia-pacific,upper-middle-income economies,"5,1","5,4","6,2","4,4","5,8","3,8",66.0
4,italy,64500000,58.0,europe and eurasia,southern europe,high-income economies,"6,0","4,0","4,8","5,1","5,5","4,3",77.0
5,turkey,51200000,19.0,europe and eurasia,southern europe,upper-middle-income economies,"4,8","6,0","2,8","4,4","5,2","3,6",45.0
6,mexico,45000000,35.0,the americas,north and central america,upper-middle-income economies,"4,8","5,1","6,3","3,8","5,0","3,6",65.0
7,thailand,39800000,6.0,asia-pacific,south-east asia,upper-middle-income economies,"4,3","5,6","4,9","4,4","5,4","3,6",48.0
8,germany,39600000,51.0,europe and eurasia,western europe,high-income economies,"6,5","4,1","3,4","5,1","5,7","4,7",85.0
9,united kingdom,39400000,33.0,europe and eurasia,western europe,high-income economies,"5,9","2,8","3,6","5,2","5,9","4,9",77.0
10,japan,32300000,25.0,asia-pacific,eastern asia-pacific,high-income economies,"6,1","4,2","4,9","5,5","5,8","4,3",83.0
11,austria,31900000,12.0,europe and eurasia,western europe,high-income economies,"6,8","4,0","2,9","5,3","5,8","5,1",92.0
12,greece,31300000,18.0,europe and eurasia,southern europe,high-income economies,"6,1","3,8","3,0","4,7","5,6","4,4",73.0
13,malaysia,26100000,4.0,asia-pacific,south-east asia,upper-middle-income economies,"4,5","6,5","3,9","4,1","5,5","3,7",69.0
14,portugal,24600000,17.0,europe and eurasia,southern europe,high-income economies,"6,0","4,2","3,5","5,1","5,7","4,2",57.0
16,hong kong,23800000,NaN,asia-pacific,eastern asia-pacific,high-income economies,"5,6","3,6","1,2","5,2","6,1","4,6",NaN
17,poland,22100000,17.0,europe and eurasia,balkans and eastern europe,high-income economies,"5,5","5,5","2,8","4,0","5,7","4,1",84.0
18,canada,22100000,20.0,the americas,north and central america,high-income economies,"5,2","4,3","5,7","4,7","5,9","4,4",88.0
19,netherlands,20100000,12.0,europe and eurasia,western europe,high-income economies,"5,9","3,9","2,6","5,1","6,3","4,8",75.0
20,vietnam,18000000,8.0,asia-pacific,south-east asia,lower-middle income economies,"4,4","6,0","3,8","3,6","5,1","3,7",73.0
21,india,17900000,40.0,asia-pacific,south asia,lower-middle income economies,"3,5","5,8","5,7","3,7","4,0","3,3",47.0
22,south korea,17500000,15.0,asia-pacific,eastern asia-pacific,high-income economies,"6,1","4,8","2,3","5,0","6,2","4,0",82.0
23,croatia,17400000,10.0,europe and eurasia,southern europe,high-income economies,"5,8","4,3","3,6","4,5","5,5","4,5",83.0
24,hungary,16900000,8.0,europe and eurasia,balkans and eastern europe,high-income economies,"6,1","5,1","2,0","4,2","5,4","4,5",83.0
25,united arab emirates,16700000,1.0,middle east and north africa,middle east,high-income economies,"4,9","5,1","1,8","4,8","6,1","4,0",79.0
26,indonesia,15500000,9.0,asia-pacific,south-east asia,lower-middle income economies,"3,9","6,0","5,5","3,7","4,9","3,9",58.0
27,singapore,15100000,1.0,asia-pacific,south-east asia,high-income economies,"5,3","4,9","1,6","5,3","6,0","4,0",90.0
28,czech republic,14300000,16.0,europe and eurasia,western europe,high-income economies,"6,4","5,2","2,0","4,5","5,6","4,5",88.0
30,saudi arabia,13600000,6.0,middle east and north africa,middle east,high-income economies,"5,0","5,1","2,6","4,1","5,9","3,5",46.0
31,denmark,13300000,10.0,europe and eurasia,northern europe,high-income economies,"5,9","3,8","2,7","4,9","6,2","5,1",94.0
32,morocco,12900000,9.0,middle east and north africa,north africa,lower-middle income economies,"3,7","5,3","2,3","3,3","4,7","3,8",54.0
34,switzerland,11800000,13.0,europe and eurasia,western europe,high-income economies,"6,3","2,8","3,0","5,6","6,2","5,2",89.0
35,egypt,11300000,7.0,middle east and north africa,north africa,lower-middle income economies,"4,0","6,2","3,1","3,6","4,9","4,2",38.0
36,ireland,10900000,2.0,europe and eurasia,western europe,high-income economies,"5,4","3,7","2,0","4,4","5,5","4,5",83.0
37,south africa,10200000,10.0,sub-saharan africa,southern africa,upper-middle-income economies,"3,5","5,5","4,9","3,4","5,1","3,4",48.0
38,australia,9500000,20.0,asia-pacific,eastern asia-pacific,high-income economies,"5,9","3,6","6,4","4,8","5,9","4,0",86.0
39,tunisia,9400000,8.0,middle east and north africa,north africa,lower-middle income economies,"4,4","6,0","2,0","2,9","4,3","3,8",53.0
40,belgium,9300000,15.0,europe and eurasia,western europe,high-income economies,"6,4","4,1","1,9","4,5","5,9","4,4",70.0
41,bulgaria,9300000,10.0,europe and eurasia,balkans and eastern europe,upper-middle-income economies,"6,0","5,7","2,8","4,0","5,4","4,6",80.0
42,philippines,8300000,6.0,asia-pacific,south-east asia,lower-middle income economies,"3,5","5,8","3,9","3,2","4,4","3,7",47.0
43,argentina,7400000,11.0,the americas,south america,upper-middle-income economies,"5,7","5,8","4,5","3,3","5,1","3,8",70.0
44,sweden,7400000,15.0,europe and eurasia,northern europe,high-income economies,"5,7","3,8","2,8","4,2","6,1","5,4",83.0
48,cambodia,6600000,3.0,asia-pacific,south-east asia,lower-middle income economies,"3,1","5,9","2,5","2,8","4,5","3,9",68.0

In [79]:
tourism_database = tourism_database[['country', 'arrivals', 'region', 'sub_region','income_group','unesco_sites','hygiene_score','affordability_score','natural_resources_score','infraestructure_score','ict_score','sustainability_score','safety_index']]
tourism_database

,country,arrivals,region,sub_region,income_group,unesco_sites,hygiene_score,affordability_score,natural_resources_score,infraestructure_score,ict_score,sustainability_score,safety_index
0,france,89400000,europe and eurasia,western europe,high-income economies,49.0,"6,2","4,0","5,4","5,4","5,9","4,7",64.0
1,spain,83700000,europe and eurasia,southern europe,high-income economies,49.0,"5,8","4,4","5,1","5,5","5,9","4,3",83.0
2,united states,79300000,the americas,north and central america,high-income economies,24.0,"5,3","3,6","6,2","5,4","6,1","4,1",68.0
3,china,65700000,asia-pacific,eastern asia-pacific,upper-middle-income economies,56.0,"5,1","5,4","6,2","4,4","5,8","3,8",66.0
4,italy,64500000,europe and eurasia,southern europe,high-income economies,58.0,"6,0","4,0","4,8","5,1","5,5","4,3",77.0
5,turkey,51200000,europe and eurasia,southern europe,upper-middle-income economies,19.0,"4,8","6,0","2,8","4,4","5,2","3,6",45.0
6,mexico,45000000,the americas,north and central america,upper-middle-income economies,35.0,"4,8","5,1","6,3","3,8","5,0","3,6",65.0
7,thailand,39800000,asia-pacific,south-east asia,upper-middle-income economies,6.0,"4,3","5,6","4,9","4,4","5,4","3,6",48.0
8,germany,39600000,europe and eurasia,western europe,high-income economies,51.0,"6,5","4,1","3,4","5,1","5,7","4,7",85.0
9,united kingdom,39400000,europe and eurasia,western europe,high-income economies,33.0,"5,9","2,8","3,6","5,2","5,9","4,9",77.0
10,japan,32300000,asia-pacific,eastern asia-pacific,high-income economies,25.0,"6,1","4,2","4,9","5,5","5,8","4,3",83.0
11,austria,31900000,europe and eurasia,western europe,high-income economies,12.0,"6,8","4,0","2,9","5,3","5,8","5,1",92.0
12,greece,31300000,europe and eurasia,southern europe,high-income economies,18.0,"6,1","3,8","3,0","4,7","5,6","4,4",73.0
13,malaysia,26100000,asia-pacific,south-east asia,upper-middle-income economies,4.0,"4,5","6,5","3,9","4,1","5,5","3,7",69.0
14,portugal,24600000,europe and eurasia,southern europe,high-income economies,17.0,"6,0","4,2","3,5","5,1","5,7","4,2",57.0
16,hong kong,23800000,asia-pacific,eastern asia-pacific,high-income economies,NaN,"5,6","3,6","1,2","5,2","6,1","4,6",NaN
17,poland,22100000,europe and eurasia,balkans and eastern europe,high-income economies,17.0,"5,5","5,5","2,8","4,0","5,7","4,1",84.0
18,canada,22100000,the americas,north and central america,high-income economies,20.0,"5,2","4,3","5,7","4,7","5,9","4,4",88.0
19,netherlands,20100000,europe and eurasia,western europe,high-income economies,12.0,"5,9","3,9","2,6","5,1","6,3","4,8",75.0
20,vietnam,18000000,asia-pacific,south-east asia,lower-middle income economies,8.0,"4,4","6,0","3,8","3,6","5,1","3,7",73.0
21,india,17900000,asia-pacific,south asia,lower-middle income economies,40.0,"3,5","5,8","5,7","3,7","4,0","3,3",47.0
22,south korea,17500000,asia-pacific,eastern asia-pacific,high-income economies,15.0,"6,1","4,8","2,3","5,0","6,2","4,0",82.0
23,croatia,17400000,europe and eurasia,southern europe,high-income economies,10.0,"5,8","4,3","3,6","4,5","5,5","4,5",83.0
24,hungary,16900000,europe and eurasia,balkans and eastern europe,high-income economies,8.0,"6,1","5,1","2,0","4,2","5,4","4,5",83.0
25,united arab emirates,16700000,middle east and north africa,middle east,high-income economies,1.0,"4,9","5,1","1,8","4,8","6,1","4,0",79.0
26,indonesia,15500000,asia-pacific,south-east asia,lower-middle income economies,9.0,"3,9","6,0","5,5","3,7","4,9","3,9",58.0
27,singapore,15100000,asia-pacific,south-east asia,high-income economies,1.0,"5,3","4,9","1,6","5,3","6,0","4,0",90.0
28,czech republic,14300000,europe and eurasia,western europe,high-income economies,16.0,"6,4","5,2","2,0","4,5","5,6","4,5",88.0
30,saudi arabia,13600000,middle east and north africa,middle east,high-income economies,6.0,"5,0","5,1","2,6","4,1","5,9","3,5",46.0
31,denmark,13300000,europe and eurasia,northern europe,high-income economies,10.0,"5,9","3,8","2,7","4,9","6,2","5,1",94.0
32,morocco,12900000,middle east and north africa,north africa,lower-middle income economies,9.0,"3,7","5,3","2,3","3,3","4,7","3,8",54.0
34,switzerland,11800000,europe and eurasia,western europe,high-income economies,13.0,"6,3","2,8","3,0","5,6","6,2","5,2",89.0
35,egypt,11300000,middle east and north africa,north africa,lower-middle income economies,7.0,"4,0","6,2","3,1","3,6","4,9","4,2",38.0
36,ireland,10900000,europe and eurasia,western europe,high-income economies,2.0,"5,4","3,7","2,0","4,4","5,5","4,5",83.0
37,south africa,10200000,sub-saharan africa,southern africa,upper-middle-income economies,10.0,"3,5","5,5","4,9","3,4","5,1","3,4",48.0
38,australia,9500000,asia-pacific,eastern asia-pacific,high-income economies,20.0,"5,9","3,6","6,4","4,8","5,9","4,0",86.0
39,tunisia,9400000,middle east and north africa,north africa,lower-middle income economies,8.0,"4,4","6,0","2,0","2,9","4,3","3,8",53.0
40,belgium,9300000,europe and eurasia,western europe,high-income economies,15.0,"6,4","4,1","1,9","4,5","5,9","4,4",70.0
41,bulgaria,9300000,europe and eurasia,balkans and eastern europe,upper-middle-income economies,10.0,"6,0","5,7","2,8","4,0","5,4","4,6",80.0
42,philippines,8300000,asia-pacific,south-east asia,lower-middle income economies,6.0,"3,5","5,8","3,9","3,2","4,4","3,7",47.0
43,argentina,7400000,the americas,south america,upper-middle-income economies,11.0,"5,7","5,8","4,5","3,3","5,1","3,8",70.0
44,sweden,7400000,europe and eurasia,northern europe,high-income economies,15.0,"5,7","3,8","2,8","4,2","6,1","5,4",83.0
48,cambodia,6600000,asia-pacific,south-east asia,lower-middle income economies,3.0,"3,1","5,9","2,5","2,8","4,5","3,9",68.0

In [80]:
tourism_database.rename(columns={'safety_index': 'safety_score'}, inplace=True)

In [83]:
tourism_database['unesco_sites'] = tourism_database['unesco_sites'].fillna(0).astype(int)
tourism_database

,country,arrivals,region,sub_region,income_group,unesco_sites,hygiene_score,affordability_score,natural_resources_score,infraestructure_score,ict_score,sustainability_score,safety_score
0,france,89400000,europe and eurasia,western europe,high-income economies,49,"6,2","4,0","5,4","5,4","5,9","4,7",64.0
1,spain,83700000,europe and eurasia,southern europe,high-income economies,49,"5,8","4,4","5,1","5,5","5,9","4,3",83.0
2,united states,79300000,the americas,north and central america,high-income economies,24,"5,3","3,6","6,2","5,4","6,1","4,1",68.0
3,china,65700000,asia-pacific,eastern asia-pacific,upper-middle-income economies,56,"5,1","5,4","6,2","4,4","5,8","3,8",66.0
4,italy,64500000,europe and eurasia,southern europe,high-income economies,58,"6,0","4,0","4,8","5,1","5,5","4,3",77.0
5,turkey,51200000,europe and eurasia,southern europe,upper-middle-income economies,19,"4,8","6,0","2,8","4,4","5,2","3,6",45.0
6,mexico,45000000,the americas,north and central america,upper-middle-income economies,35,"4,8","5,1","6,3","3,8","5,0","3,6",65.0
7,thailand,39800000,asia-pacific,south-east asia,upper-middle-income economies,6,"4,3","5,6","4,9","4,4","5,4","3,6",48.0
8,germany,39600000,europe and eurasia,western europe,high-income economies,51,"6,5","4,1","3,4","5,1","5,7","4,7",85.0
9,united kingdom,39400000,europe and eurasia,western europe,high-income economies,33,"5,9","2,8","3,6","5,2","5,9","4,9",77.0
10,japan,32300000,asia-pacific,eastern asia-pacific,high-income economies,25,"6,1","4,2","4,9","5,5","5,8","4,3",83.0
11,austria,31900000,europe and eurasia,western europe,high-income economies,12,"6,8","4,0","2,9","5,3","5,8","5,1",92.0
12,greece,31300000,europe and eurasia,southern europe,high-income economies,18,"6,1","3,8","3,0","4,7","5,6","4,4",73.0
13,malaysia,26100000,asia-pacific,south-east asia,upper-middle-income economies,4,"4,5","6,5","3,9","4,1","5,5","3,7",69.0
14,portugal,24600000,europe and eurasia,southern europe,high-income economies,17,"6,0","4,2","3,5","5,1","5,7","4,2",57.0
16,hong kong,23800000,asia-pacific,eastern asia-pacific,high-income economies,0,"5,6","3,6","1,2","5,2","6,1","4,6",NaN
17,poland,22100000,europe and eurasia,balkans and eastern europe,high-income economies,17,"5,5","5,5","2,8","4,0","5,7","4,1",84.0
18,canada,22100000,the americas,north and central america,high-income economies,20,"5,2","4,3","5,7","4,7","5,9","4,4",88.0
19,netherlands,20100000,europe and eurasia,western europe,high-income economies,12,"5,9","3,9","2,6","5,1","6,3","4,8",75.0
20,vietnam,18000000,asia-pacific,south-east asia,lower-middle income economies,8,"4,4","6,0","3,8","3,6","5,1","3,7",73.0
21,india,17900000,asia-pacific,south asia,lower-middle income economies,40,"3,5","5,8","5,7","3,7","4,0","3,3",47.0
22,south korea,17500000,asia-pacific,eastern asia-pacific,high-income economies,15,"6,1","4,8","2,3","5,0","6,2","4,0",82.0
23,croatia,17400000,europe and eurasia,southern europe,high-income economies,10,"5,8","4,3","3,6","4,5","5,5","4,5",83.0
24,hungary,16900000,europe and eurasia,balkans and eastern europe,high-income economies,8,"6,1","5,1","2,0","4,2","5,4","4,5",83.0
25,united arab emirates,16700000,middle east and north africa,middle east,high-income economies,1,"4,9","5,1","1,8","4,8","6,1","4,0",79.0
26,indonesia,15500000,asia-pacific,south-east asia,lower-middle income economies,9,"3,9","6,0","5,5","3,7","4,9","3,9",58.0
27,singapore,15100000,asia-pacific,south-east asia,high-income economies,1,"5,3","4,9","1,6","5,3","6,0","4,0",90.0
28,czech republic,14300000,europe and eurasia,western europe,high-income economies,16,"6,4","5,2","2,0","4,5","5,6","4,5",88.0
30,saudi arabia,13600000,middle east and north africa,middle east,high-income economies,6,"5,0","5,1","2,6","4,1","5,9","3,5",46.0
31,denmark,13300000,europe and eurasia,northern europe,high-income economies,10,"5,9","3,8","2,7","4,9","6,2","5,1",94.0
32,morocco,12900000,middle east and north africa,north africa,lower-middle income economies,9,"3,7","5,3","2,3","3,3","4,7","3,8",54.0
34,switzerland,11800000,europe and eurasia,western europe,high-income economies,13,"6,3","2,8","3,0","5,6","6,2","5,2",89.0
35,egypt,11300000,middle east and north africa,north africa,lower-middle income economies,7,"4,0","6,2","3,1","3,6","4,9","4,2",38.0
36,ireland,10900000,europe and eurasia,western europe,high-income economies,2,"5,4","3,7","2,0","4,4","5,5","4,5",83.0
37,south africa,10200000,sub-saharan africa,southern africa,upper-middle-income economies,10,"3,5","5,5","4,9","3,4","5,1","3,4",48.0
38,australia,9500000,asia-pacific,eastern asia-pacific,high-income economies,20,"5,9","3,6","6,4","4,8","5,9","4,0",86.0
39,tunisia,9400000,middle east and north africa,north africa,lower-middle income economies,8,"4,4","6,0","2,0","2,9","4,3","3,8",53.0
40,belgium,9300000,europe and eurasia,western europe,high-income economies,15,"6,4","4,1","1,9","4,5","5,9","4,4",70.0
41,bulgaria,9300000,europe and eurasia,balkans and eastern europe,upper-middle-income economies,10,"6,0","5,7","2,8","4,0","5,4","4,6",80.0
42,philippines,8300000,asia-pacific,south-east asia,lower-middle income economies,6,"3,5","5,8","3,9","3,2","4,4","3,7",47.0
43,argentina,7400000,the americas,south america,upper-middle-income economies,11,"5,7","5,8","4,5","3,3","5,1","3,8",70.0
44,sweden,7400000,europe and eurasia,northern europe,high-income economies,15,"5,7","3,8","2,8","4,2","6,1","5,4",83.0
48,cambodia,6600000,asia-pacific,south-east asia,lower-middle income economies,3,"3,1","5,9","2,5","2,8","4,5","3,9",68.0

In [ ]:
str_conn = ‘mysql+pymysql://root:password@localhost:3306/Teletrabajo’
cursor = create_engine(str_conn)
[14:10] ciudades2.to_sql(name=‘ciudades’,       # nombre de la tabla
            con=cursor,           # conexion al servidor
            if_exists=‘replace’,  # replace sobreescribe la tabla
            index=True
           )